<div class="tdw-padding-20"></div>
<section class="top-container tdw-position-relative">
    <div class="tdw-layout-container-large">
        <div fxLayoutAlign="start stretch" fxLayout="row wrap">
            <div fxFlex class="content-area tdw-position-relative tdw-layout-content">
                <div class="mdc-color--white" fxFlex fxLayout="column" fxLayoutAlign="start center">

                    <div class="tdw-padding-36"></div>

                    <h6 fxFlexAlign="start" class="tagline tdw-font-20 tdw-font-normal mdc-color-text--grey-600">Next Generation Sensor Analytics Visualization</h6>

                    <div class="top-symbols">
                        <img class="tdw-image" src="assets/img/sensify-view.png">
                    </div>

                    <div class="title tdw-display-table" fxFlexAlign="start">
                        <img class="tdw-display-table-cell tdw-layout-align-middle tdw-avatar-40" src="assets/img/sensify-icon.png">

                        <span class="tdw-display-table-cell tdw-layout-align-middle tdw-text-align-left  tdw-padding-h-16 tdw-font-22 mdc-color-text--grey-800">Sensify</span>
                    </div>
                    <div class="tdw-padding-36"></div>
                </div>
            </div>
            <div class="tdw-position-relative">

                <div class="background-image top-cover tdw-position-absolute">
                </div>

                <div class="background-image app-background-sensify top-cover-white tdw-position-absolute">
                </div>
                <div class=" tdw-position-relative">

                    <div class="frame">
                        <img class="tdw-image" src="/assets/img/sensify_app_mockup@2x.png">
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- <section class="top-container tdw-position-relative">
    <div class="background tdw-position-absolute">
    </div>
    <div class="tdw-layout-container-large top-content" fxLayout="row" fxLayoutAlign="start stretch">
        <div class="tdw-padding-56 mdc-color--white" fxFlex fxLayout="column" fxLayoutAlign="start center">
            <div class="title tdw-display-table" fxFlexAlign="start">
                <img class="tdw-display-table-cell tdw-layout-align-middle tdw-avatar-40" src="assets/img/sensify-icon.png">
                
                <span class="tdw-display-table-cell tdw-layout-align-middle tdw-text-align-left  tdw-padding-h-16 tdw-font-22 mdc-color-text--grey-800">Sensify</span>
            </div>

            <h6 fxFlexAlign="start" class="tagline tdw-font-20 tdw-font-normal mdc-color-text--grey-600">Next Generation Sensor Analytics Visualization</h6>

            <div class="top-symbols">
                <img src="assets/img/sensify-view.png">
            </div>
        </div>
      
        <div class="sensify-project-desc tdw-position-relative ">
            <div class="background app-background-sensify tdw-position-absolute  mdc-color--white">

            </div>
            <img src="/assets/img/sensify_app_mockup@2x.png">

        </div>

    </div>

</section> -->



<section class="mdc-color--grey-100 tdw-card-thin">
    <div class="tdw-padding-12"></div>
    <div class="tdw-padding-28"></div>
    <div class="tdw-layout-container-large">
        <div class="tdw-layout-content" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around stretch">
            <div class="tdw-font-18 tdw-font-light mdc-color-text--grey-700" fxFlex="40%">
                <p class="">MATERIAL-INSPIRED DESIGN</p>
                <p class="tdw-padding-v-20">Comprehensible, colourful and user friendly interface</p>
            </div>
            <div fxFlex></div>
            <div ngClass.lt-md="tdw-padding-36"></div>
            <div class="tdw-font-18 tdw-font-light mdc-color-text--grey-700" fxFlex="40%">
                <p class="">Get the knack of your phone sensors from a single app</p>
                <p class="tdw-padding-v-20">Adjustable frame speed</p>
                <p class="">Excellent visualization with real-time graph</p>
            </div>
        </div>
    </div>
    <div class="tdw-padding-28"></div>

</section>

<section class="guideline tdw-layout-container-large">
    <div class="">
        <div>
            <h2 class="tdw-padding-56 tdw-text-align-center tdw-font-bold mdc-text-color--grey-800">Guideline</h2>
            <div class="tdw-layout-content" fxLayout="row" fxLayoutAlign.xs="start stretch" fxLayoutAlign.sm="start start" fxLayout.lt-md="column">
                <div fxFlex.gt-xs fxFlex.xs="none" class="">
                    <span class="mdc-text-color--grey-600">FONT</span>
                    <div class="sec-title">

                        <div class="title-background ">
                            <h1 class="tdw-font-106 tdw-font-Roboto mdc-color-text--grey-200 tdw-font-bold">ROBOTO</h1>
                        </div>

                        <div class="title tdw-padding-v-56" fxLayout="row" fxLayoutAlign="space-between start">
                            <div ngClass.gt-xs="tdw-padding-16" class="tdw-font-bold">
                                <p class="tdw-font-12  mdc-color-text--grey-800">Roboto bold</p>
                                <p class="tdw-font-20 mdc-color-text--red-400">AaBbCc</p>
                            </div>
                            <div ngClass.gt-xs="tdw-padding-16" class="tdw-font-lighter">
                                <p class="tdw-font-12  mdc-color-text--grey-800">Roboto bold</p>
                                <p class="tdw-font-20 mdc-color-text--red-400">AaBbCc</p>
                            </div>
                            <div ngClass.gt-xs="tdw-padding-16" class="tdw-font-light">
                                <p class="tdw-font-12  mdc-color-text--grey-800">Roboto bold</p>
                                <p class="tdw-font-20 mdc-color-text--red-400">AaBbCc</p>
                            </div>
                        </div>
                        <div class="tdw-padding-8"></div>
                    </div>
                </div>
                <div class="tdw-padding-56"></div>
                <div fxFlex.gt-xs fxFlex.xs="none" class="">
                    <span class="mdc-text-color--grey-600">COLOR</span>
                    <div class="sec-title">
                        <div class="title tdw-padding-v-28" fxLayout="row" fxLayoutAlign="space-between center">
                            <div ngClass.gt-xs="tdw-padding-16" class="color-box tdw-font-light">
                                <div class="square  mdc-color--red-400"></div>
                                <p class="tdw-font-14 tdw-padding-v-16 mdc-color-text--red-400">#EF5350</p>
                            </div>
                            <div ngClass.gt-xs="tdw-padding-16" class="color-box tdw-font-light">
                                <p class="square  mdc-color--red-300"></p>
                                <p class="tdw-font-14 tdw-padding-v-16 mdc-color-text--red-300">#E57373</p>
                            </div>
                            <div ngClass.gt-xs="tdw-padding-16" class="color-box tdw-font-light">
                                <p class="square  mdc-color--grey-800"></p>
                                <p class="tdw-font-14 tdw-padding-v-16 mdc-color-text-grey-800">#424242</p>
                            </div>
                            <div ngClass.gt-xs="tdw-padding-16" class="color-box tdw-font-light">
                                <p class="square  mdc-color--grey-600"></p>
                                <p class="tdw-font-14 tdw-padding-v-16 mdc-color-text--grey-600">#757575</p>
                            </div>

                        </div>
                        <div class="tdw-padding-8"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="screens tdw-layout-container-large">
    <div class="tdw-layout-content" fxLayout="column">
        <h2 class="tdw-padding-16 tdw-text-align-center tdw-font-bold mdc-text-color--grey-800">Screens</h2>
        <div class="tdw-padding-36"></div>
        <div fxLayout="column">
            <div class="sensify-home tdw-card-lighter-shadow">
                <img src="/assets/img/sensify-longScreenShot.png">
                <div class="hr1">
                    <p class="title">Home</p>
                </div>
            </div>
            <div ngClass.lt-md="tdw-padding-20"></div>
            <div class="sensify-plots tdw-card-lighter-shadow" fxFlexAlign="end">
                <img src="/assets/img/Screenshot_2017-08-17-06-47-56-546.jpeg">
                <div class="hr2">
                    <p class="title">plots</p>
                </div>
            </div>
            <div ngClass.gt-sm="tdw-padding-36" ngClass.lt-md="tdw-padding-20"></div>
            <div class="sensify-sensor tdw-card-lighter-shadow">
                <img src="/assets/img/Screenshot_2017-08-17-06-47-43-184.jpeg">
                <div class="hr1">
                    <p class="title">sensor-details</p>
                </div>
            </div>
            <div ngClass.lt-md="tdw-padding-20"></div>
            <div class="sensify-services tdw-card-lighter-shadow" fxFlexAlign="end">
                <img src="/assets/img/Screenshot_2017-08-17-06-47-56-546.jpeg">
                <div class="hr2">
                    <p class="title">services</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="tdw-padding-36"></div>

<section class="icon-design tdw-layout-container-large">
    <div class="tdw-layout-content">
        <div fxLayout="column">
            <h2 class="tdw-text-align-center tdw-font-bold mdc-text-color--grey-800">Icons Design</h2>
            <div class="tdw-padding-46" ></div>
            <div class="icon-box mdc-color--black tdw-card-decent" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="icons">
                    <img src="assets/img/sensor_magnet.svg">
                </div>
                <div class="icons">
                    <img src="assets/img/sensor_gyroscope.svg">
                </div>
                <div class="icons">
                    <img src="assets/img/sensor_humidity.svg">
                </div>
                <div class="icons">
                    <img src="assets/img/sensor_pressure.svg">
                </div>
                <div class="icons">
                    <img src="assets/img/sensor_temp.svg">
                </div>
                <div class="icons">
                    <img src="assets/img/senosr_light.svg">
                </div>

            </div>
            <div  ngClass.lt-md="tdw-padding-36" ngClass.gt-sm="tdw-padding-36"></div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
                <div class="tdw-padding-36">
                    <div class="icon-view tdw-border-4 tdw-card-decent">
                        <img src="assets/img/ic_gyro_line.png">
                    </div>
                </div>
                <div class="tdw-padding-36"></div>
                <div class="tdw-padding-36">
                    <div class="icon-view tdw-border-4 tdw-card-decent">
                        <img src="assets/img/ic_gyro_dev.png">
                    </div>
                </div>
            </div>
            <div class="tdw-padding-20"></div>

        </div>
    </div>
</section>