<div class="tdw-layout-container-large">
    <div class="tdw-layout-content " fxLayout="column">
        <div class="sec-title">
            <div class="title">
                <h6 class="tdw-font-22 tdw-font-medium">Technology</h6>
            </div>
            <div class="title-background">
                <h1 class="tdw-font-56 tdw-font-Roboto mdc-color-text--grey-100 tdw-font-bold">Technology</h1>
            </div>


        </div>

        <div class="tdw-padding-12"></div>

        <!-- <div fxLayout="row">
            <button mdc-button [dense]="true" [raised]="true" class="tab tdw-card-thin mdc-color--green-500">
                android
            </button>
            <div class="tdw-padding-8"></div>
            <button mdc-button [dense]="true" [raised]="false" class="tab  mdc-color-text--blue-500">
                web
            </button>
            <div class="tdw-padding-8"></div>
            <button mdc-button [dense]="true" [raised]="false" class="tab mdc-color-text--grey-800">
                backend
            </button>
            <div class="tdw-padding-8"></div>
            <button mdc-button [dense]="true" [raised]="false" class="tab mdc-theme--priamry">
                <span class="mdc-theme--secondary">UI/</span>UX
            </button>
        </div> -->
        <tab-view (onTabSelect)="onTabChanged($event)"></tab-view>

        <div class="tdw-padding-16"></div>

        <div fxLayout="row" fxLayout.lt-md="column">
            <div [fxFlexOrder.lt-md]="1" class="tdw-padding-v-24" fxFlex="60%" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign.xs="start stretch">

                <technology-item-view [model]="item" *ngFor="let item of _mCurrentTechs"></technology-item-view>

            </div>
            <div [class.mdc-color--green-500]="_mTabName == 'android'" [class.app-color--blue]="_mTabName == 'web'" [class.app-color--purple]="_mTabName == 'backend'"
                [class.app-color--red]="_mTabName == 'design'" fxFlex="40%" fxLayout="column" class="mdc-color-text--white tech-banner tdw-card-up-large">
                
                <h1 class="tdw-font-40 tdw-font-light tdw-text-shadow-large">{{_mContent.title}}</h1>
                <div class="tdw-padding-24"></div>

                <div fxFlex fxLayoutAlign="center start" fxLayout="column" class="tdw-margin-auto-vertical">
                    
                    <p class="tdw-font-16 tdw-padding-v-12" *ngFor="let line of _mContent.detail">{{line}}</p>

                    <div class="tdw-padding-20"></div>

                </div>
            </div>
        </div>
        <div class="tdw-padding-16"></div>
    </div>
</div>