<div class="tdw-padding-bottom-16" fxLayout="column">
    <div class="top-works-container mdc-color--white">
        <div class="top-works-container-right mdc-color--green-400">
            <div fxFlex fxLayoutAlign="space-around center">
                <div class="img">
                    <img src="assets/img/Screenshot_2018-03-15-11-36-48-722@2x.png">
                </div>
                <div class="img">

                    <img src="assets/img/Screenshot_2018-03-15-11-39-26-721@2x.png">
                </div>
            </div>

        </div>
        <div class="tdw-padding-20 tdw-text-align-left">
            <p class="tdw-font-20 tdw-padding-v-10 mdc-color-text--grey-800">Pepstudy </p>
            <p class="tdw-font-18 tdw-font-normal mdc-color-text--grey-400">Android Native App</p>
        </div>
    </div>
</div>