<div class="tdw-layout-container-large tdw-position-relative">
    <div class="background">
        <div class="vertical-line-container" fxLayoutAlign="space-around stretch">
            <div class="vertical-lines"></div>
            <div class="vertical-lines"></div>
            <div class="vertical-lines"></div>
            <div class="vertical-lines"></div>
            <div class="vertical-lines"></div>
            <div class="vertical-lines"></div>
        </div>
    </div>
    <div class="tdw-layout-content tdw-position-relative">
        <div class="">
            <div class="sec-title tdw-text-align-right">
                <div class="title">
                    <h6 class="tdw-font-22 tdw-font-medium">
                        <span class="mdc-theme--primary">Top </span>
                        <span>Works</span>
                    </h6>
                </div>
                <div class="title-background ">
                    <h1 class="tdw-text-align-right tdw-font-56 tdw-font-Roboto mdc-color-text--grey-100 tdw-font-bold">Top Works</h1>
                </div>
            </div>
        </div>
        <div class="tdw-padding-16"></div>
        <!-- <div class="tdw-padding-56"></div> -->
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-around none">

                <top-work-mobile fxFlex.gt-xs="45%" link="projects/mobile-offize" projectTitleField="Mobile Offize" projectSubTitleField="Mobile-app" firstImagePath="/assets/img/Screenshot_2018-03-15-11-37-57-568.jpeg"
                    secondImagePath="/assets/img/Screenshot_2018-03-15-11-36-48-722.jpeg" bgColorClass="app-background-mobile-offize">
                </top-work-mobile>
                <div fxFlex="10%" fxHide.xs="true">
                    <div class="square tdw-margin-auto-horizontal"></div>
                </div>
                <div fxFlex="45%" fxHide.xs="true"></div>



            </div>
            <div fxHide.gt-xs="true" class="tdw-padding-v-12 tdw-text-align-center">
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around none">

                <div fxFlex="45%" fxHide.xs="true"></div>
                <div fxFlex="10%" fxHide.xs="true">
                    <div class="square tdw-margin-auto-horizontal"></div>
                </div>
                <!-- <top-work-web fxFlex.gt-xs="45%" link="projects/intugine" projectTitleField="Intugine Track" projectSubTitleField="Web-app" imagePath="/assets/img/download.png"
                    bgColorClass="app-background-intugine"></top-work-web>
 -->
 <top-work-web fxFlex.gt-xs="45%" link="projects/pepstudy" projectTitleField="Pepstudy" projectSubTitleField="Web-app" imagePath="/assets/img/pepstudy-design.firebaseapp.com_student_home.png"
 bgColorClass="app-background-pepstudy"></top-work-web>


            </div>
            <div fxHide.gt-xs="true" class="tdw-padding-v-12 tdw-text-align-center">
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around none">

                <top-work-mobile fxFlex.gt-xs="45%" link="projects/sensify" projectTitleField="Sensify" projectSubTitleField="Mobile-app" firstImagePath="/assets/img/Screenshot_2017-08-17-06-46-46-573.jpeg"
                    secondImagePath="/assets/img/Screenshot_2017-08-17-06-47-56-546.jpeg" bgColorClass="app-background-sensify">
                </top-work-mobile>

                <div fxFlex="10%" fxHide.xs="true">
                    <div class="square tdw-margin-auto-horizontal"></div>
                </div>
                <div fxFlex="45%" fxHide.xs="true"></div>



            </div>
            <div fxHide.gt-xs="true" class="tdw-padding-v-12 tdw-text-align-center">
            </div>

            <!-- <div fxLayout="row" fxLayoutAlign="space-around none">

                <div fxFlex="45%" fxHide.xs="true"></div>
                <div fxFlex="10%" fxHide.xs="true">
                    <div class="square tdw-margin-auto-horizontal"></div>
                </div>
                <top-work-web fxFlex.gt-xs="45%" link="projects/pepstudy" projectTitleField="Pepstudy" projectSubTitleField="Web-app" imagePath="/assets/img/pepstudy-design.firebaseapp.com_student_home.png"
                    bgColorClass="app-background-pepstudy"></top-work-web>
            </div> -->

            <div fxHide.xs="true" class="tdw-padding-v-40 tdw-text-align-center">
            </div>
            <div fxHide.gt-xs="true" class="tdw-padding-v-20 tdw-text-align-center">
            </div>

            <div class="tdw-padding-v-36 tdw-text-align-center">
                <a href="./../listing" class="explore-btn tdw-font-14 tdw-hover-button-primary tdw-font-comfortaa">explore</a>
            </div>

        </div>
    </div>

</div>