<section class="top-wall mdc-color--grey-200 tdw-position-relative" fxLayout="row">
 <div class="tdw-position-absolute background-image"></div>
 <div class="tdw-position-absolute background-image-1"></div>
  <div class="background tdw-position-absolute">
    <div class="tdw-position-absolute square tdw-card-up square-blue square-left-1"></div>
    <div class="tdw-position-absolute square tdw-card-up square-green square-left-2"></div>
    <div class="tdw-position-absolute square tdw-card-up square-blue square-right-2"></div>
    <div class="tdw-position-absolute square tdw-card-up square-green  square-right-1"></div>

  </div>
  <div class="tdw-layout-container-large tdw-position-relative">
    <div class="tdw-layout-content">
      <div>
        
          <div class="tdw-padding-20"></div>
        <div class="tdw-padding-36"></div>

        <div class="tdw-padding-16"></div>

        <div class="sec-title">

          <div class="title-background">
            <h1 class="tdw-font-Roboto title-back tdw-font-bold">ABOUT</h1>
          </div>

          <div class="title">
            <!-- <h1 class="tdw-font-106 tdw-font-Roboto mdc-color-text--grey-200 tdw-font-bold">&nbsp;</h1> -->

            <h6 class="tdw-font-20 mdc-color-text--white tdw-font-medium">About Us</h6>

          </div>
          <div class="tdw-padding-8"></div>

        </div>

        <div class="hr-line mdc-color--grey-300">
          <div class="line-red ">
            <svg version="1.1" id="line" x="0px" y="0px" width="120px" height="5px" xml:space="preserve">
              <path class="path2" fill="#2cc87c" stroke-width="3" stroke="#2cc87c" d="M0 0 l1120 0" />
            </svg>
          </div>
        </div>
        <div class="tdw-padding-16"></div>
        <h6 class="title-bottom tdw-padding-v-24 tdw-font-normal tdw-font-16 mdc-color-text--white">Thedroid believes in bringing perfection and precision to your android app and website. We are a team of professionals who work hard to bring new ideas, concepts and solutions to the client’s success. We have successfully delivered high end solutions from small to big enterprises.</h6>
        <div class="view-more tdw-padding-v-24" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex></div>

        </div>
        <div class="tdw-padding-12"></div>
      </div>
    </div>
  </div>

</section>