
    <section class="top-home" fxLayout="row">
      <div class="">
        <div class=" tdw-padding-v-36">
          <div class="circle-left-big tdw-card-dark-shadow">
          </div>
        </div>
      </div>
      <div class="">
        <div class=" tdw-padding-v-36">
          <div class="circle-left-small tdw-card-dark-shadow">

          </div>
        </div>
      </div>
      <div class="">
        <div class=" tdw-padding-v-8">
          <div class="circle-right-big tdw-card-dark-shadow">

          </div>
        </div>
      </div>
      <div class=" tdw-padding-v-36">
        <div class=" tdw-padding-v-8">
          <div class="circle-right-small tdw-card-dark-shadow">

          </div>
        </div>
      </div>

