<div class="contact">
    <div class="background">
        <div class="inner">
            <img src='assets/img/world_map.svg' />

        </div>
    </div>
    <div class="tdw-layout-container-large">
        <div class="tdw-padding-16"></div>
        <div class="tdw-layout-content" fxLayout.xs="column" fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex class="need-help-container tdw-padding-v-20 mdc-color--white">
                <div class="avatar tdw-text-align-center">
                    <img src="assets/img/need-help-logo.png">
                </div>
                <div class="title tdw-text-align-center  tdw-padding-v-16">
                    <span class="tdw-font-18 mdc-color-text--grey-400">Need </span>
                    <span class="tdw-font-18 tdw-font-normal mdc-color-text--grey-800">Help</span>
                </div>
                <div class="need-help-content tdw-text-align-center  tdw-padding-bottom-24">
                    <p class="tdw-font-12 mdc-color-text--grey-600">If you have project that you want to geet started the contact us. We will respond in no time</p>
                </div>
                <div class="tdw-padding-v-16" fxLayout="row wrap" fxLayoutAlign="center center">
                    <div class="tdw-padding-h-24" fxLayout="row" fxLayoutGap="20px">
                        <div class="circle image--cover  social-1">
                            <img src="assets/img/ic_mail_outline_24px.png" style="width:19px;height:16px;">
                        </div>
                        <div class="circle image--cover social-2">
                            <img src="assets/img/ln.png" style="width:18px;height:18px;">
                        </div>
                    </div>
                    <div class="tdw-padding-v-8">
                    <div class="btn-number tdw-hover-button mdc-color--grey-800 tdw-padding-h-24">
                        <mdc-icon class="tdw-font-28 tdw-padding-h-8 mdc-color-text--white">call</mdc-icon>
                        <span class="tdw-font-14 tdw-padding-h-8 tdw-text-align-center mdc-color-text--white">+91- 821 786 2643 </span>
                    </div>
                </div>

                </div>
            </div>

            <div class="contact-form mdc-theme--primary-bg tdw-card-up-large">
                <!-- <div class="notch"></div> -->
                <!-- <div class="background">
                    
            </div> -->
                <div class="tdw-padding-24" fxLayout="column">
                    <h6 class="tdw-font-comfortaa tdw-font-bolder mdc-color-text--white">CONTACT US</h6>
                    <div class="tdw-padding-4"></div>
                    <mdc-text-field class="tdw-font-comfortaa mdc-color-text--white" label="Name" dense="true"></mdc-text-field>
                    <mdc-text-field class="tdw-font-comfortaa mdc-color-text--white" label="Email" dense="true"></mdc-text-field>
                    <mdc-text-field class="tdw-font-comfortaa" label="Write Message here" dense="true"></mdc-text-field>
                    <!-- <mdc-textarea label="Write MFessage here" [outline]="false" row="1" [fullwidth]="false"></mdc-textarea> -->
                    <!-- <mdc-icon class="submit-btn tdw-font-28  mdc-color-text--white">keyboard_arrow_right</mdc-icon> -->

                    <div class="tdw-padding-8"></div>
                    <a class="tdw-button-white tdw-hover-button tdw-font-comfortaa tdw-font-12">Send</a>
                </div>
            </div>

        </div>
        <div class="tdw-padding-56">
        </div>
    </div>
</div>