<div class="tdw-layout-content">
	<div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign.gt-sm="start center">
		<div fxFlexOrder.xs="1" fxFlex.xs="none" fxFlex.gt-xs fxLayout="column" fxLayoutAlign.lt-md="start none">
			<div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign.gt-sm="start center">
				<div class="swipe-bar tdw-box-size-border-box mdc-color--white tdw-layout-align-center tdw-card-up tdw-padding-12 ">
					<mdc-icon class="tdw-padding-right-16 tdw-font-18 mdc-color-text--grey-400">assignment_turned_in</mdc-icon>
					<span class="tdw-font-16 mdc-color-text--grey-600">Meet Rony</span>
				</div>
				<div fxFlex fxHide.lt-md="true"></div>
			</div>
			<div class="tdw-padding-12"></div>
			<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="start center">
				<div class="swipe-bar  mdc-color--white tdw-card-up tdw-layout-align-center" fxLayout="row">
					<mdc-icon class="tdw-padding-13-26 tdw-font-18 mdc-color-text--white app-color--mobile-offize-accent">arrow_forward</mdc-icon>
					<div fxFlex class="tdw-padding-12" fxLayout="row">
						<div class="tdw-padding-h-4"></div>
						<mdc-icon class="tdw-padding-right-16 tdw-font-18 mdc-color-text--grey-400">assignment_turned_in</mdc-icon>
						<span class="tdw-font-16 mdc-color-text--grey-600">Meet Rony</span>
					</div>
				</div>
				<div ngClass.gt-sm="tdw-padding-24" ngClass.lt-md="tdw-padding-12"></div>

				<div class="swipe-bar tdw-box-size-border-box mdc-color--white tdw-layout-align-center tdw-card-up tdw-padding-12 ">
					<mdc-icon class="tdw-padding-right-16 tdw-font-18 app-color-text--mobile-offize-accent">assignment_turned_in</mdc-icon>
					<span class="tdw-font-16 mdc-color-text--grey-600">Meet Rony</span>
				</div>

			</div>


			<div class="tdw-padding-36"></div>

			<div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign.gt-sm="start center">
				<div class="swipe-bar tdw-box-size-border-box mdc-color--white tdw-layout-align-center tdw-card-up tdw-padding-12 ">
					<mdc-icon class="tdw-padding-right-16 tdw-font-18 mdc-color-text--grey-400">assignment_turned_in</mdc-icon>
					<span class="tdw-font-16 mdc-color-text--grey-600">Meet Rony</span>
				</div>
				<div fxFlex  fxHide.lt-md="true"></div>
			</div>

			<div class="tdw-padding-12"></div>
			<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="start center">

				<div class="swipe-bar mdc-color--white tdw-layout-align-center" fxLayout="row">
					<mdc-icon class="tdw-padding-13-26 tdw-card-up tdw-font-16 mdc-color-text--white mdc-color--green-500">check</mdc-icon>
					<div fxFlex class="tdw-padding-12 tdw-card-up" fxLayout="row">
						<div class="tdw-padding-h-4"></div>
						<mdc-icon class="tdw-padding-right-16 tdw-font-18 mdc-color-text--grey-400">assignment_turned_in</mdc-icon>
						<span class="tdw-font-16 mdc-color-text--grey-600">Meet Rony</span>
					</div>
				</div>

				<div ngClass.gt-sm="tdw-padding-24" ngClass.lt-md="tdw-padding-12"></div>
				<div class="swipe-bar tdw-box-size-border-box mdc-color--white tdw-layout-align-center tdw-card-up tdw-padding-12 ">
					<mdc-icon class="tdw-padding-right-16 tdw-font-18 mdc-color-text--green-600">assignment_turned_in</mdc-icon>
					<span class="tdw-font-16 mdc-color-text--grey-600">Meet Rony</span>
				</div>
			</div>
		</div>
		<!-- <div fxFlex> </div> -->


		<div class="tdw-padding-h-12"></div>


		<div class="description mdc-color--white tdw-padding-36 tdw-card-up">
			<div class="tdw-padding-12"></div>
			<p class=" tdw-font-20 tdw-font-bold tdw-text-shadow-normal">Easy Task Swipe</p>
			<div class="tdw-padding-12"></div>
			<span class="mdc-color-text--grey-600 tdw-font-open-sans">Easy Swipe feature to upadate task status, gives you a better user exprience.</span>
			<div class="tdw-padding-24"></div>

		</div>
		<div class="tdw-padding-v-12"></div>
	</div>
</div>