<div class="tdw-layout-container-large">
    <div class="tdw-layout-content">
        <div class="content tdw-font-avenir ">
            <div class="" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
                <div class="quote   tdw-text-align-center">
                        <span class="tdw-font-22 tdw-font-medium mdc-theme--primary">Our</span>
                        <span class="tdw-font-22 tdw-font-medium mdc-color-text--grey-700">&nbsp;Commitment</span>
                    <p class="tdw-padding-v-10 tdw-font-16  mdc-color-text--grey-500">we attach great importance to product that your development experience will be best one</p>
                </div>

                <div class="tdw-padding-10"></div>

                <div class="content-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="200px" fxLayoutGap.xs="0px" fxLayoutGap.sm="0px"
                    fxLayoutAlign.lt-md="center center">

                    <div class="content-card tdw-padding-16 tdw-display-table">
                        <div class="tdw-display-table-cell tdw-layout-align-middle">
                            <div class="circle service-1">
                                    <img class="tdw-avatar-40" src="assets/img/target.svg"/>
                                
                            </div>
                        </div>
                        <div class="details tdw-padding-h-24 tdw-display-table-cell tdw-layout-align-middle">

                            <p class="tdw-font-14 tdw-padding-v-4 tdw-font-bold  mdc-color-text--grey-800">Guaranteed Precision</p>

                            <p class="tdw-font-14 tdw-padding-v-4 mdc-color-text--grey-600"> Make your website and app with great detailing and accuracy.</p>
                        </div>
                    </div>

                    <div class="content-card tdw-padding-16 tdw-display-table">
                        <div class="tdw-display-table-cell tdw-layout-align-middle">
                            <div class="circle service-2">
                                 <img class="tdw-avatar-40" src="assets/img/tools.svg"/>
                                
                            </div>
                        </div>
                        <div class="details tdw-padding-h-24 tdw-display-table-cell tdw-layout-align-middle">
                            <p class="tdw-font-14 tdw-padding-v-4 tdw-font-bold mdc-color-text--grey-800">Organised Build</p>

                            <p class="tdw-font-14 tdw-padding-v-4 mdc-color-text--grey-600">From Backened to UI/UX we make everything organized.</p>
                        </div>
                    </div>
                </div>


                <div class="content-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="200px" fxLayoutGap.xs="10px" fxLayoutGap.sm="0px"
                    fxLayoutAlign.lt-md="center center">

                    <div class="content-card tdw-padding-16 tdw-display-table">
                        <div class="tdw-display-table-cell tdw-layout-align-middle">
                            <div class="circle service-3">
                                    <img class="tdw-avatar-40" src="assets/img/rocket.svg"/>
                            </div>
                        </div>
                        <div class="details tdw-padding-h-24 tdw-display-table-cell tdw-layout-align-middle">

                            <p class="tdw-font-14 tdw-padding-v-4 tdw-font-bold  mdc-color-text--grey-800">Faster to Scale</p>

                            <p class="tdw-font-14 tdw-padding-v-4 mdc-color-text--grey-600">Enable your website and app easier to scale.</p>
                        </div>
                    </div>


                    <div class="content-card tdw-padding-16 tdw-display-table">
                        <div class="tdw-display-table-cell tdw-layout-align-middle">
                            <div class="circle service-4">
                                    <img class="tdw-avatar-40" src="assets/img/compass.svg"/>
                            </div>
                        </div>
                        <div class="details tdw-padding-h-24 tdw-display-table-cell tdw-layout-align-middle">
                            <p class="tdw-font-14 tdw-padding-v-4 tdw-font-bold mdc-color-text--grey-800">Clean Design</p>

                            <p class="tdw-font-14 tdw-padding-v-4 mdc-color-text--grey-600">Our Design will leave your user an exceptional experience.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>