<div class="tdw-font-Roboto">
  <!-- [waterfallOffsetRef]="_mHomeTop" -->
  <div tdwWaterfall class="my-nav tdw-padding-12-20" [waterfallReference]="_mHome" waterfallActiveClass="mdc-color--white mdc-elevation--z1">
    <div class="tdw-padding-h-16" fxLayout="row" fxLayoutAlign="start center">
      <span class="tdw-font-22 mdc-color-text--grey-800">TheDroid</span>
      <div fxFlex></div>
      <a href="/about" class="explore-btn tdw-hover-button-primary tdw-font-14 tdw-font-comfortaa">About</a>
      <!-- <a href="listing" class="explore-btn tdw-hover-button-primary tdw-font-14 tdw-font-comfortaa">Req quote</a> -->
      <div class="tdw-padding-h-8"></div>

    </div>
  </div>
  <div class="home" #home>
    <section class="top-home mdc-color--grey-50" #homeTop>

      <top-wall-view></top-wall-view>

    </section>
    <section class="services">
      <home-services-view></home-services-view>
    </section>
    <section class="technology mdc-color--white">
      <technology-view></technology-view>
    </section>

    <section class="top-works mdc-color--white">
      <home-top-works-view></home-top-works-view>

    </section>

    <section class="our-gurantee mdc-color--grey-50 tdw-padding-v-56">

      <home-our-gurantee-view></home-our-gurantee-view>
    </section>
    <section class="clients-info mdc-color--white tdw-padding-v-56">

      <home-clients-view></home-clients-view>
    </section>

    <section class="need-help mdc-color--white">
      <contact-new-view></contact-new-view>
    </section>

    <section class="footer">
      <footer-view></footer-view>
    </section>
  </div>
</div>