<div class="top-home tdw-position-relative">
    <div class="background  tdw-position-absolute">
        <div class="wave1 tdw-position-absolute">
            <div class="wave"></div>
            <div class="mask"></div>
            <!-- <div class="maskhide"></div> -->
        </div>
        <div class="wave2 tdw-position-absolute">
            <div class="wave"></div>
            <div class="mask"></div>
            <!-- <div class="maskhide"></div> -->
        </div>
    </div>
    <div class="tdw-layout-container-large">
        <div class="top-image  tdw-position-absolute ">
            <img src="/assets/img/pepstudy-design.firebaseapp.com_student_home.png">
        </div>

    </div>

    <div class="content">
        <div class="content-card tdw-display-none ">
            <div class="tdw-padding-v-36"></div>
            <div class="content tdw-margin-36 tdw-card-up mdc-color--white"></div>
        </div>
    </div>
</div>