<div class="tdw-layout-content">
	<div class="" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-sm="start center">


		<div class="description mdc-color--white tdw-padding-36 tdw-card-up">
			<p class="tdw-padding-v-24 tdw-font-20 tdw-font-bold tdw-text-shadow-normal tdw-text-align-left">Inline Task Create</p>
			<div class="tdw-padding-16"></div>
			<span class="mdc-color-text--grey-600">You can create quick task with some works and single click.</span>
			<div class="tdw-padding-24"></div>

		</div>

		<div class="tdw-padding-v-12"></div>
		<div class="tdw-padding-h-12"></div>
		<div fxFlex.gt-sm fxFlex.lt-md="none"></div>
		<div fxFlex.gt-xs fxFlex.xs="none" fxLayout="column" fxLayoutAlign.lt-md="start none">
			<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="end center">

				<div class="create-bar mdc-color--white tdw-card-up tdw-layout-align-center" fxLayout="row">
					<div class="tdw-padding-12" fxLayout="row">
						<div class="tdw-padding-h-12"></div>
						<span class="tdw-font-16 mdc-color-text--grey-400">New Task...</span>
					</div>
					<div fxFlex></div>
					<mdc-icon class="tdw-padding-14-20 tdw-font-18 app-color-text--mobile-offize-accent">arrow_forward</mdc-icon>
				</div>
				<div ngClass.gt-sm="tdw-padding-24" ngClass.lt-md="tdw-padding-12"></div>

				<div class="create-bar  mdc-color--white tdw-card-up tdw-layout-align-center" fxLayout="row">
					<div class="tdw-padding-12" fxLayout="row">
						<div class="tdw-padding-h-4"></div>
						<mdc-icon class="tdw-padding-right-16 tdw-font-18 mdc-color-text--grey-600">assignment_turned_in</mdc-icon>
						<span class="tdw-font-16 mdc-color-text--grey-600">Meet Ganesh</span>
					</div>
					<div fxFlex></div>
					<mdc-icon class="tdw-padding-14-20 tdw-font-18 app-color-text--mobile-offize-accent mdc-color--grey-200">arrow_forward</mdc-icon>
				</div>

			</div>

			<div class="tdw-padding-20"></div>
			<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="end center">


				<!-- <div class="tdw-padding-36"></div> -->

				<div class="create-bar  tdw-card-up mdc-color--white" fxLayout="column">
					<div fxLayout="row">
						<div class="tdw-padding-12" fxLayout="row">
							<div class="tdw-padding-h-4"></div>
							<span class="tdw-font-16 mdc-color-text--grey-400">New Task....</span>
						</div>
						<div fxFlex></div>
						<mdc-icon class="tdw-padding-14-20 tdw-font-18 app-color-text--mobile-offize-accent">arrow_forward</mdc-icon>
					</div>
					<hr>
					<div class="" fxLayout="row">
						<div class="tdw-padding-12" fxLayout="row">
							<div class="tdw-padding-h-4"></div>
							<mdc-icon class="tdw-padding-right-16 tdw-font-18 app-color-text--mobile-offize-accent">assignment_turned_in</mdc-icon>
							<span class="tdw-font-16 mdc-color-text--grey-400">Meet Rony</span>
						</div>
						<div fxFlex></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>