<div class="tdw-layout-container-large">
    <div class="tdw-layout-content">
        <div class="tdw-text-align-center">
            <span class="tdw-font-24 mdc-theme--primary">Our </span>
            <span class="tdw-font-24 tdw-font-normal mdc-color-text--grey-800">Clients</span>
        </div>
        <div class="tdw-padding-v-56" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div class="tdw-padding-16">
                <div class="client-desc-card mdc-color--grey-100 hover-card-up-intugine tdw-display-table">
                    <div class="avatar intugine-logo tdw-display-table-cell tdw-layout-align-middle">
                        <img class="tdw-layout-align-middle" src="/assets/img/intugine-logo.png">
                    </div>
                    <div class="client-title tdw-display-table-cell tdw-layout-align-middle">
                        <span class="tdw-font-16 mdc-color-text--grey-800">Intugine</span>
                    </div>
                </div>
            </div>

            <div class="tdw-padding-16">
                <div class="client-desc-card mdc-color--grey-100 hover-card-up-pepstudy tdw-display-table">
                    <div class="avatar pepstudy-logo tdw-display-table-cell tdw-layout-align-middle">
                        <img class="tdw-layout-align-middle" src="/assets/img/pepstudy-logo.png">
                    </div>
                    <div class="client-title tdw-display-table-cell tdw-layout-align-middle">
                        <span class="tdw-font-16 mdc-color-text--grey-800">Pepstudy</span>
                    </div>
                </div>
            </div>
            <div class="tdw-padding-16">
                <div class="client-desc-card mdc-color--grey-100 hover-card-up-signzy tdw-display-table">
                    <div class="avatar signzy-logo tdw-display-table-cell tdw-layout-align-middle">
                        <img class="tdw-layout-align-middle" src="/assets/img/signzy-logo.png">
                    </div>
                    <div class="client-title tdw-display-table-cell tdw-layout-align-middle">
                        <span class="tdw-font-16 mdc-color-text--grey-800">Signzy</span>
                    </div>
                </div>
            </div>
            <div class="tdw-padding-16">
                <div class="client-desc-card mdc-color--grey-100 hover-card-up-xpedi  tdw-display-table">
                    <div class="avatar xpedi-logo tdw-display-table-cell tdw-layout-align-middle">
                        <img class="tdw-layout-align-middle" src="/assets/img/xpedi-logo.png">
                    </div>
                    <div class="client-title tdw-display-table-cell tdw-layout-align-middle">
                        <span class="tdw-font-16 mdc-color-text--grey-800">xpedi</span>
                    </div>
                </div>
            </div>
            <!-- <widget-client-desc-card clientTitleField="Intugine" imagePath="/assets/img/intugine-logo-final-01@2x.png" [ngClass]="[_mClassIntugineHoverColor]"></widget-client-desc-card>
        <widget-client-desc-card clientTitleField="Pepstudy" imagePath="/assets/img/pepstudy-logo.png" [ngClass]="[_mClassPepstudyHoverColor]"></widget-client-desc-card>
        <widget-client-desc-card clientTitleField="Signzy" imagePath="/assets/img/signzy-logo.png" [ngClass]="[_mClassSignzyHoverColor]"></widget-client-desc-card>
        <widget-client-desc-card clientTitleField="xpedi" imagePath="/assets/img/xpedi-logo.png" [ngClass]="[_mClassXpediHoverColor]"></widget-client-desc-card>
    </div> -->
        </div>
    </div>
</div>