<section class="top-container tdw-position-relative mdc-color-text--white ">
    <div class="tdw-layout-container-large ">
        <div class="content-box tdw-position-absolute app-color--mobile-offize tdw-padding-24">
            <div class="quote tdw-position-absolute">
                <span class="tdw-font-normal tdw-font-24 mdc-color-text--white">
                    MobileOffize App: One tool for task, chat and report in a team.
                </span>
                <div class="tdw-padding-v-56">
                    <button class="button">Try now</button>
                </div>
            </div>

        </div>
    </div>

    <div class="background-white tdw-position-absolute">
        <div class="mockup tdw-position-absolute">
            <img src="/assets/img/chat.png">
        </div>
    </div>

    <div class="background-image tdw-position-absolute">
        <img src="/assets/img/black-and-white-board-boardroom-260689.jpg">
    </div>
    <div class="tdw-layout-container-large ">
        <div class="bottom-box tdw-position-absolute mdc-color-text--grey-800" fxLayout="row" fxLayoutGap="72px" fxLayoutAlign="space-between none">
            <div class="tdw-padding-36    ">
                <div fxLayout="column" class="box tdw-position-relative app-background-mobile-offize tdw-card-thin tdw-padding-24">
                    <span class="tdw-padding-16">What</span>
                    <span class="tdw-padding-16">Heloo sdlfjlsjdf sdlfjlsjdf sdlfjlsjdf</span>
                </div>
            </div>
            <div class="tdw-padding-36    ">
                <div fxLayout="column" class="box tdw-position-relative mdc-color--white tdw-card-thin tdw-padding-24">
                    <span class="tdw-padding-16">What</span>
                    <span class="tdw-padding-16">Heloo sdlfjlsjdf sdlfjlsjdf sdlfjlsjdf</span>
                </div>
            </div>
            <div class="tdw-padding-36    ">
                <div fxLayout="column" class="box tdw-position-relative app-background-mobile-offize tdw-card-thin tdw-padding-24">
                    <span class="tdw-padding-16">What</span>
                    <span class="tdw-padding-16">Heloo sdlfjlsjsdlfjlsjdf sdlfjlsjdf dfdf</span>
                </div>
            </div>
        </div>
    </div>

</section>