<section class="top-container tdw-position-relative">
    <div class="tdw-layout-container-large">
        <div ngClass.xs="tdw-card-up app-color--mobile-offize" class="app-color--mobile-offize"  fxLayoutAlign.gt-xs="start center" fxLayout="row wrap" fxLayout.xs="column">

            <div  class="content-area tdw-position-relative">

                <div fxHide.xs="true" class="content-box content-box-bound tdw-position-absolute tdw-border-4 app-color--mobile-offize tdw-height-full">
                </div>
                <div class="tdw-position-relative tdw-padding-24">
                    <div class="tdw-padding-v-36"></div>
                    <span ngClass.gt-sm="tdw-font-24 mdc-color-text--white" ngClass.gt-xs="mdc-color-text--white" ngClass.xs="tdw-font-20 mdc-color-text--white" class="tdw-font-normal tdw-position-relative">MobileOffize App: One tool for task, chat and report in a team.</span>
                    <div fxHide.xs class="tdw-padding-v-36"></div>
                </div>
            </div>
            <div fxFlex></div>
            <div class="tdw-position-relative">

                <div fxHide.xs class="background-image top-cover tdw-position-absolute">
                </div>

                <div fxHide.xs class="background-image top-cover-white app-color--mobile-offize tdw-position-absolute">
                </div>
                <div class=" tdw-position-relative">
                    <div fxHide.xs class="tdw-padding-v-36"></div>
                    <div class="frame">
                        <img class="tdw-image" src="/assets/img/mobile-offize_main.png">
                    </div>

                    <!-- <div  fxHide.xs class="tdw-padding-v-36"></div> -->
                </div>

            </div>
        </div>
    </div>
    <!-- 
    <div class="background-white tdw-position-absolute">
        <div class="mockup tdw-position-absolute">

        </div>
    </div> -->

    <!-- <div class="tdw-layout-container-large">
        <div class="bottom-box tdw-position-relative mdc-color-text--grey-800" fxLayout.xs="column" fxLayout="row wrap" fxLayoutAlign.gt-xs="space-between none">
            <div class="tdw-padding-12" ngClass.gt-xs="tdw-padding-16">
                <div fxLayout="column" ngClass.xs="mdc-color--white" ngClass.gt-xs="app-background-mobile-offize" class="box tdw-border-2 tdw-card-thin tdw-padding-24">
                    <span class="mdc-color-text--grey-800 tdw-font-medium">What</span>
                    <div fxHide.xs class="tdw-padding-12"></div>
                    <span class="mdc-color-text--grey-600">Heloo sdlfjlsjdf sdlfjlsjdf sdlfjlsjdf</span>
                </div>
            </div>
            <div class="tdw-padding-12" ngClass.gt-xs="tdw-padding-16">
                <div fxLayout="column" ngClass.xs="mdc-color--white"  class="box tdw-border-2 mdc-color--white tdw-card-thin tdw-padding-24">
                    <span class="mdc-color-text--grey-800 tdw-font-medium">What</span>
                    <div fxHide.xs class="tdw-padding-12"></div>
                    <span class="mdc-color-text--grey-600">Heloo sdlfjlsjdf sdlfjlsjdf sdlfjlsjdf</span>
                </div>
            </div>
            <div class="tdw-padding-12" ngClass.gt-xs="tdw-padding-16">
                <div fxLayout="column" ngClass.xs="mdc-color--white" ngClass.gt-xs="app-background-mobile-offize"  class="box tdw-border-2 app-background-mobile-offize tdw-card-thin tdw-padding-24">
                    <span class="mdc-color-text--grey-800 tdw-font-medium">What</span>
                    <div fxHide.xs class="tdw-padding-12"></div>
                    <span class="mdc-color-text--grey-600">Heloo sdlfjlsjsdlfjlsjdf sdlfjlsjdf dfdf</span>
                </div>
            </div>
        </div>
    </div> -->

</section>