<a class="unlink" href="{{_mLink}}"><div class="top-works-container">

	<div fxHide.gt-xs="true" class="tdw-padding-bottom-12">
		<div fxLayout="column">
			<div class="tdw-padding-12"></div>
			<p class="tdw-font-18 tdw-padding-v-4 mdc-color-text--grey-800">{{_mProjectTitleField}} </p>
			<p class="tdw-font-16 tdw-font-normal mdc-color-text--grey-500">{{_mProjectSubTitleField}}</p>
		</div>

	</div>

	<div fxLayout="row" class="mobile-app tdw-hover-down tdw-padding-v-24" fxLayoutAlign="space-around center" [ngClass]="[_mClassBackgroundColor]">
		<img fxFlex="40%" src="{{_mfirstImagePath}}">
		<img fxFlex="40%" src="{{_msecondImagePath}}">
	</div>


	<div fxHide.xs="true" class="label">
		<div fxLayout="column">
			<div class="tdw-padding-12"></div>
			<p class="tdw-font-18 tdw-padding-v-4 mdc-color-text--grey-800">{{_mProjectTitleField}} </p>
			<p class="tdw-font-16 tdw-font-normal mdc-color-text--grey-500">{{_mProjectSubTitleField}}</p>
		</div>
		<!-- <div class="marker tdw-padding-h-24">
			<mdc-icon class=" tdw-text-align-right tdw-font-28 mdc-color-text--grey-600">arrow_forward</mdc-icon>
		</div> -->
	</div>
</div></a>