<section class="top-wall tdw-position-relative" fxLayout="row">
  <div class="background tdw-position-absolute">


  </div>
  <div class="tdw-layout-container-large tdw-position-relative">
    <div class="tdw-layout-content">
      <div class="tdw-height-64"></div>

      <div class="tdw-padding-16"></div>

      <div class="sec-title">

        <div class="title-background">
          <h1 class="tdw-font-Roboto mdc-color-text--grey-200 tdw-font-bold">TIMELINE</h1>
        </div>

        <div class="title">
          <!-- <h1 class="tdw-font-106 tdw-font-Roboto mdc-color-text--grey-200 tdw-font-bold">&nbsp;</h1> -->
          <h6 class="tdw-font-20 tdw-text-align-right mdc-color-text--grey-800 tdw-font-medium">Timeline</h6>
        </div>
        <div class="tdw-padding-8"></div>

      </div>

      <div class="tdw-padding-36"></div>


      <!--Timelines -->


      <div fxLayout="row" fxLayoutAlign="start none">
        <div fxFlexOrder.xs="1" fxFlex="45" fxFlex.xs="90">
          <div fxHide.gt-xs="true" class="date tdw-font-Roboto tdw-padding-8-16 mdc-theme--primary-bg mdc-color-text--white tdw-card-up-large">
            2012
          </div>

          <div fxLayout="row" class="tdw-padding-20 mdc-color--white tdw-border-4 tdw-card-up">
            <div class="avatar-container">
              <img class="tdw-avatar-40" src="assets/img/box2d-logo.png" />
            </div>
            <div class="tdw-padding-8"></div>
            <div fxLayout="column">
              <h4 class="mdc-color-text--grey-800 tdw-font-medium">Simulation Android App for Mechanics problems.</h4>
              <div class="tdw-padding-4"></div>
              <p class="mdc-color-text--grey-600">App for visualizing real life simple mechanical events on android phones by inbuild simulation engine.</p>
              <p class="mdc-color-text--grey-600">The app was built with openGL ES 2.0 API for 2D Graphical Simulation and BOX2D API for Physics Engine.</p>
            </div>
          </div>
          <div class="tdw-padding-16"></div>

        </div>
        <div fxFlex="10" fxLayout="column" fxLayoutAlign="start center">
          <div class="app-circle-indicator-primary tdw-margin-auto"></div>
          <div fxFlex class="timeline tdw-margin-auto"></div>
        </div>
        <div fxFlex="45" fxHide.xs="true" fxLayoutAlign="start start">
          <div class="date tdw-font-Roboto tdw-padding-8-16 mdc-theme--primary-bg mdc-color-text--white tdw-card-up-large">
            2012
          </div>
          <div fxFlex></div>

        </div>
      </div>


      <div fxLayout="row" fxLayoutAlign="start none">

        <div fxFlex="45" fxLayout="row" fxHide.xs="true" fxLayoutAlign="start start">
          <div fxFlex></div>
          <div class="date tdw-font-Roboto tdw-padding-8-16 mdc-theme--primary-bg mdc-color-text--white tdw-card-up-large">
            2013
          </div>

        </div>

        <div fxFlex="10" fxLayout="column" fxLayoutAlign="start center">
          <div class="app-circle-indicator-primary tdw-margin-auto"></div>
          <div fxFlex class="timeline tdw-margin-auto"></div>
        </div>
        <div fxFlex.xs="90" fxFlex="45">
          <div fxHide.gt-xs="true" class="date tdw-font-Roboto tdw-padding-8-16 mdc-theme--primary-bg mdc-color-text--white tdw-card-up-large">
            2013
          </div>

          <div fxLayout="row" class="tdw-padding-20 mdc-color--white tdw-border-4 tdw-card-up">
            <div class="avatar-container">
              <img class="tdw-avatar-40" src="assets/img/neurosky_eeg.png" />
            </div>
            <div class="tdw-padding-8"></div>
            <div fxLayout="column">
              <h4 class="mdc-color-text--grey-800 tdw-font-medium">Brain Computer Interface Design for EEG signal.</h4>
              <div class="tdw-padding-4"></div>
              <p class="mdc-color-text--grey-600">The software was developed to perform tasks by receiving informations from a human brain(EEGs signals) and detecting patterns.</p>
              <p class="mdc-color-text--grey-600">Neurosky mindwave device was used for recording brain EEG signals followed by pattern detection of eye blinks’ and other events to control computer.</p>
            </div>
          </div>

          <div class="tdw-padding-16"></div>

        </div>
      </div>


      <div fxLayout="row" fxLayoutAlign="start none">
        <div fxFlex="45" fxFlex.xs="90" fxFlexOrder.xs="1">
          <div fxHide.gt-xs="true" class="date tdw-font-Roboto tdw-padding-8-16 mdc-theme--primary-bg mdc-color-text--white tdw-card-up-large">
            2014
          </div>
          <div fxLayout="row" class="tdw-padding-20 mdc-color--white tdw-border-4 tdw-card-up">
            <div class="avatar-container">
              <img class="tdw-avatar-40" src="assets/img/speaker.jpg" />
            </div>
            <div class="tdw-padding-8"></div>
            <div fxLayout="column">
              <h4 class="mdc-color-text--grey-800 tdw-font-medium">Speaker Identifiction System</h4>
              <div class="tdw-padding-4"></div>
              <p class="mdc-color-text--grey-600">This Software was developed for recognising the current speaker from the database of speakers based on their individual speech characteristics.</p>
              <p class="mdc-color-text--grey-600">Feature Extraction was performed using MFCC followed by LBGVQ method to match features for training and testing purposes.</p>
            </div>
          </div>

          <div class="tdw-padding-16"></div>

        </div>
        <div fxFlex="10" fxLayout="column" fxLayoutAlign="start center">
          <div class="app-circle-indicator-primary tdw-margin-auto"></div>
          <div fxFlex class="timeline tdw-margin-auto"></div>
        </div>
        <div fxHide.xs="true" fxFlex="45" fxLayout="row" fxLayoutAlign="start start">
          <div class="date tdw-font-Roboto tdw-padding-8-16 mdc-theme--primary-bg mdc-color-text--white tdw-card-up-large">
            2014
          </div>
          <div fxFlex></div>
        </div>
      </div>


      <div fxLayout="row" fxLayoutAlign="start none">

        <div fxFlex="45" fxHide.xs="true" fxLayout="row" fxLayoutAlign="start start">
          <div fxFlex></div>
          <div class="date tdw-font-Roboto tdw-padding-8-16 mdc-theme--primary-bg mdc-color-text--white tdw-card-up-large">
            2015
          </div>

        </div>

        <div fxFlex="10" fxLayout="column" fxLayoutAlign="start center">
          <div class="app-circle-indicator-primary tdw-margin-auto"></div>
          <div fxFlex class="timeline tdw-margin-auto"></div>
        </div>
        <div fxFlex="45" fxFlex="90">
          <div fxHide.gt-xs="true" class="date tdw-font-Roboto tdw-padding-8-16 mdc-theme--primary-bg mdc-color-text--white tdw-card-up-large">
            2015
          </div>

          <div fxLayout="row" class="tdw-padding-20 mdc-color--white tdw-border-4 tdw-card-up">
            <div class="avatar-container">
              <img class="tdw-avatar-40" src="assets/img/ic_fancy_monk.png" />
            </div>
            <div class="tdw-padding-8"></div>
            <div fxLayout="column">
              <h4 class="mdc-color-text--grey-800 tdw-font-medium">Fancymonk</h4>
              <div class="tdw-padding-4"></div>
              <p class="mdc-color-text--grey-600">Platform helping customers to avoid queues for tables in restaurants, lunches and events.</p>
              <p class="mdc-color-text--grey-600">We developed Fancymonk as a table reservation app, waiterless app and website.</p>
            </div>
          </div>


          <div class="tdw-padding-16"></div>

        </div>
      </div>


      <div fxLayout="row" fxLayoutAlign="start none">
        <div fxFlex="45" fxFlex.xs="90" fxFlexOrder.xs="1">
          <div fxHide.gt-xs="true" class="date tdw-font-Roboto tdw-padding-8-16 mdc-theme--primary-bg mdc-color-text--white tdw-card-up-large">
            2016</div>

          <div fxLayout="row" class="tdw-padding-20 mdc-color--white tdw-border-4 tdw-card-up">
            <div class="tdw-square-36 mdc-color--blue-500 tdw-card-thin tdw-text-align-center">
                <mdc-icon class="align-icon-center tdw-font-24 mdc-color-text--white">desktop_windows</mdc-icon>
              <!-- <img class="tdw-avatar-40" src="assets/img/speaker.jpg" /> -->
            </div>
            <div class="tdw-padding-8"></div>
            <div fxFlex fxLayout="column">
              <h4 class="mdc-color-text--grey-800 tdw-font-medium">Introduced Webapp based on Angular</h4>
              <div class="tdw-padding-4"></div>
              <p class="mdc-color-text--grey-600">We initiated with building Fancymonk waiterless admin dashboard having real time syncing and notification in Angular 2 framework.</p>
              <p class="mdc-color-text--grey-600">Now we can support development upto angular 6. </p>
            </div>
          </div>

          <div class="tdw-padding-16"></div>

        </div>
        <div fxFlex="10" fxLayout="column" fxLayoutAlign="start center">
          <div class="app-circle-indicator-primary tdw-margin-auto"></div>
          <div fxFlex class="timeline tdw-margin-auto"></div>
        </div>
        <div fxFlex="45" fxHide.xs="true" fxLayout="row" fxLayoutAlign="start start">
          <div class="date tdw-font-Roboto tdw-padding-8-16 mdc-theme--primary-bg mdc-color-text--white tdw-card-up-large">
            2016</div>

          <div fxFlex></div>
        </div>
      </div>


      <div fxLayout="row" fxLayoutAlign="start none">

        <div fxFlex="45" fxHide.xs="true" fxLayout="row" fxLayoutAlign="start start">
          <div fxFlex></div>
          <div class="date tdw-font-Roboto tdw-padding-8-16 mdc-theme--primary-bg mdc-color-text--white tdw-card-up-large">
            2017
          </div>

        </div>

        <div fxFlex="10" fxLayout="column" fxLayoutAlign="start center">
          <div class="app-circle-indicator-primary tdw-margin-auto"></div>
          <div fxFlex class="timeline tdw-margin-auto"></div>

        </div>
        <div fxFlex="45" fxFlex.xs="90">
          <div fxHide.gt-xs="true" class="date tdw-font-Roboto tdw-padding-8-16 mdc-theme--primary-bg mdc-color-text--white tdw-card-up-large">
            2017
          </div>

          <div fxLayout="row" class="tdw-padding-20 mdc-color--white tdw-border-4 tdw-card-up">
            <div class="avatar-container">
              <img class="tdw-avatar-40" src="assets/img/if_web_development.svg" />
            </div>
            <div class="tdw-padding-8"></div>
            <div fxFlex fxLayout="column">
              <h4 class="mdc-color-text--grey-800 tdw-font-medium">Started with Freelancing</h4>
              <div class="tdw-padding-4"></div>
              <p class="mdc-color-text--grey-600">We began freelancing with a small IOT based android app for indoor navigation in an Arena filled with Ble  Device.</p>
              <p class="mdc-color-text--grey-600">Since then dozens of multiplatform web apps and android apps have been successfully delivered with active backend support.</p>
            </div>
          </div>
          <div class="tdw-padding-16"></div>

        </div>
      </div>


      <div fxLayout="row" fxLayoutAlign="start none">
        <div fxFlex="45" fxFlex.xs="90" fxFlexOrder.xs="1">

          <div fxHide.gt-xs="true" class="date tdw-font-Roboto tdw-padding-8-16 mdc-theme--primary-bg mdc-color-text--white tdw-card-up-large">
            2018
          </div>

          <div fxLayout="row" class="tdw-padding-20 mdc-color--white tdw-border-4 tdw-card-up">
            <div class="avatar-container">
              <img class="tdw-avatar-40" src="assets/img/compass_red.svg" />
            </div>
            <div class="tdw-padding-8"></div>
            <div fxFlex fxLayout="column">
              <h4 class="mdc-color-text--grey-800 tdw-font-medium">Introduced Ui/UX Design and Content Writing</h4>
              <div class="tdw-padding-4"></div>
              <p class="mdc-color-text--grey-600">Due to high demands from our clients for better user experience, we gladly commenced UI/UX designing and web content writing as our service.</p>
              <!-- <p class="mdc-color-text--grey-600"> </p> -->
            </div>
          </div>

          <div class="tdw-padding-16"></div>



        </div>
        <div fxFlex="10" fxLayout="column" fxLayoutAlign="start center">
          <div class="app-circle-indicator-primary tdw-margin-auto"></div>
          <div fxFlex class="timeline tdw-margin-auto"></div>
        </div>
        <div fxFlex="45" fxHide.xs="true" fxLayout="row" fxLayoutAlign="start start">
          <div class="date tdw-font-Roboto tdw-padding-8-16 mdc-theme--primary-bg mdc-color-text--white tdw-card-up-large">
            2018</div>

          <div fxFlex></div>
        </div>
      </div>

      <div fxLayout="column" fxLayout.xs="row" fxLayoutAlign.gt-xs="start center">
        
        <div fxFlex.xs="10" fxHide.gt-xs="true"  fxLayout="column" fxLayoutAlign="start center">
            <div class="app-circle-indicator-primary tdw-margin-auto"></div>
        </div>
        <div class="date tdw-font-Roboto tdw-padding-8-16 mdc-theme--primary-bg mdc-color-text--white tdw-card-up-large">
          Now
        </div>
        

      </div>


    </div>
    <div class="tdw-padding-36"></div>
  </div>

</section>