<section class="top-home mdc-color--grey-50" #homeTop>

    <div class="tdw-position-relative">
        <div class="container tdw-position-absolute">
            <div class="wave"></div>
            <div class="mask"></div>
        </div>
        <div class="content">
            <div class="content-card tdw-layout-container">
                <div class="tdw-padding-v-36"></div>
                <div class="content tdw-margin-36 tdw-card-up mdc-color--white"></div>
            </div>

        </div>
    </div>

</section>