<div class="tdw-layout-content">
	<div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign.gt-sm="start center">
		<div fxFlexOrder.xs="1" fxFlex.xs="none" fxFlex.gt-xs fxLayout="column" fxLayoutAlign.xs="start center" fxLayoutAlign.lt-md="center end">
			<div class="billing-container">
				<div class="tdw-card-up mdc-color--white tdw-padding-20">
					<span class="tdw-font-14 mdc-color-text--cyan-600">Date</span>
					<div class="tdw-padding-4"></div>
					<span class="mdc-color-text--grey-800">24-Feb-2018</span>
				</div>
				<div class="tdw-padding-16"></div>
				<div class="" fxLayout="row" fxLayoutAlign="space-between center">
					<div class=" bill-image  tdw-card-up">
						<img src="assets/img/bill.jpg">
					</div>
					<span class="mdc-color-text--grey-800 tdw-font-16">Bill Photo</span>
					<mdc-icon class="tdw-card-up mdc-color--white tdw-font-18 tdw-padding-12 mdc-color-text--cyan-400">check</mdc-icon>
				</div>
				<div class="tdw-padding-16"></div>
				<div class="tdw-card-up mdc-color--white tdw-padding-20" fxLayout="row">
					<span class="tdw-font-14 mdc-color-text--cyan-600">Category:</span>
					<div fxFlex></div>
					<span class="tdw-font-14 mdc-color-text--grey-800">Food</span>
					<div class="tdw-padding-h-16"></div>
					<mdc-icon class="tdw-font-16 mdc-color-text--grey-800">arrow_drop_down</mdc-icon>
				</div>
			</div>
		</div>



		<div class="tdw-padding-h-12"></div>

		<div class="description mdc-color--white tdw-padding-36 tdw-card-up">
			<p class="tdw-padding-v-24 tdw-font-20 tdw-font-bold tdw-text-shadow-normal tdw-text-align-left">Report Elements</p>
			<div class="tdw-padding-16"></div>
			<span class="mdc-color-text--grey-600">All Report ui elements are generic in nature. They are created form template format.</span>
		</div>

		<div class="tdw-padding-v-12"></div>
	</div>
</div>