<section class="top-wall" fxLayout="row">
  <div class="background">
    <div class="tdw-position-relative tdw-height-full tdw-width-full">


      <div class="mercury">

      </div>

      <div class="venus">

      </div>

      <div class="sun">

      </div>
      <div class="cloud-large tdw-card-dark-shadow">
      </div>

      <div class="cloud-medium tdw-card-dark-shadow">
      </div>


      <div class="cloud-small tdw-card-dark-shadow">
      </div>

    </div>
    <!-- <div fxLayout="column">
      <div class="tdw-padding-56">

      </div>

    </div> -->

  </div>
  <div class="tdw-layout-container-large">
    <div class="tdw-layout-content">

      <div class="tdw-padding-v-36">
        <div class="quote" fxLayout="row">
          <div fxLayout="column">
            <div class="tdw-padding-20"></div>
            <div class="tdw-padding-36"></div>

            <div class="tdw-padding-12"></div>

            <div class="sec-title">

              <div class="title-background">
                <h1 class="tdw-font-106 tdw-font-Roboto mdc-color-text--grey-200 tdw-font-bold">DESIGN</h1>
              </div>

              <div class="title">
                <!-- <h1 class="tdw-font-106 tdw-font-Roboto mdc-color-text--grey-200 tdw-font-bold">&nbsp;</h1> -->

                <h6 class="tdw-font-20 tdw-font-medium mdc-color-text--grey-800">Design Develop Scale
                  <span class="tdw-font-20 mdc-theme--primary">APPS</span>
                </h6>

              </div>
              <div class="tdw-padding-8"></div>

            </div>

            <div class="hr-line mdc-color--grey-300">
              <div class="line-red ">
                <svg version="1.1" id="line" x="0px" y="0px" width="120px" height="5px" xml:space="preserve">
                  <path class="path2" fill="#2cc87c" stroke-width="3" stroke="#2cc87c" d="M0 0 l1120 0" />
                </svg>
              </div>
            </div>
            <h6 class="title-bottom tdw-padding-v-24 tdw-font-normal tdw-font-16 mdc-color-text--grey-700">We design and develop beautiful, cool, and user friendly apps and websites.</h6>
            <!-- <div class="view-more tdw-padding-v-24" fxLayout="row" fxLayoutAlign="center center">
              <div fxFlex></div>
              <h6 class="tdw-padding-h-32 tdw-font-16 tdw-font-light mdc-color-text--grey-600">Contact Us</h6>
              <a href="listing" class="circle mdc-theme--primary-bg">
                <mdc-icon class="tdw-font-16  mdc-color-text--white">keyboard_arrow_right</mdc-icon>
              </a>
            </div> -->
            <div class="tdw-padding-12"></div>
          </div>
          <div fxFlex></div>
        </div>
      </div>
    </div>
  </div>

</section>