<div class="tdw-layout-content">
	<div class="" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-sm="start center">
		<div class="description mdc-color--white tdw-padding-36 tdw-card-up">
			<div class="tdw-padding-12"></div>
			<p class="tdw-padding-v-24 tdw-font-20 tdw-font-bold tdw-text-shadow-normal tdw-text-align-left">Chat Elements</p>
			<div class="tdw-padding-12"></div>
			<span class="mdc-color-text--grey-600 tdw-font-open-sans">Ui elements designed for the app are clean and easy to use.</span>
			<div class="tdw-padding-24"></div>
		</div>
		<div class="tdw-padding-v-12"></div>
		<div class="tdw-padding-h-12"></div>
		<div fxFlex.gt-sm fxFlex.lt-md="none"></div>
		<div fxFlex.gt-xs fxFlex.xs="none" fxLayout="column" fxLayoutAlign.xs="start center" fxLayoutAlign.lt-md="center end">
			<div class="chat-container">
				<div fxLayout="row">
					<div class="chat-bubble-left tdw-card-decent-light mdc-color--white">
						<span class="tdw-font-normal tdw-font-14 mdc-color-text--grey-600 ">Done</span>
						<div class="tdw-font-10 mdc-color-text--grey-500" fxLayout="row">
							<span>24-Jan</span>
							<div class="tdw-padding-h-4"></div>
							<span>9:20 p.m.</span>
						</div>
					</div>
					<div fxFlex></div>
				</div>
				<div class="tdw-padding-16"></div>
				<div fxLayout="row">

					<div fxFlex></div>
					<div class="chat-bubble-right tdw-card-decent-light app-background-mobile-offize">
						<span class="tdw-font-normal tdw-font-14 mdc-color-text--grey-600 ">Going Outside.</span>
						<div class="tdw-font-10 mdc-color-text--grey-500" fxLayout="row">
							<span>24-Jan</span>
							<div class="tdw-padding-h-4"></div>
							<span>9:20 p.m.</span>
						</div>
					</div>
				</div>
				<div class="tdw-padding-16"></div>
				<div fxLayout="row">
					<div class="chat-bubble-left tdw-card-decent-light mdc-color--white">
						<span class="tdw-font-normal tdw-font-14 mdc-color-text--grey-600 ">Done</span>
						<div class="tdw-font-10 mdc-color-text--grey-500" fxLayout="row">
							<span>24-Jan</span>
							<div class="tdw-padding-h-4"></div>
							<span>9:20 p.m.</span>
						</div>
					</div>
					<div fxFlex></div>
				</div>
				<div class="tdw-padding-36"></div>
				<div fxLayout="row">
					<div fxFlex class="message-box tdw-padding-8 tdw-layout-align-center tdw-card-decent-light tdw-border-radius-56 mdc-color--white"
					 fxLayout="row">
						<span class="tdw-padding-h-16"></span>
						<span class="mdc-color-text--grey-400">message...</span>
					</div>
					<div class="tdw-padding-12"></div>
					<div class="circle tdw-text-align tdw-card-decent-light tdw-border-radius-56 tdw-layout-align-center app-color--mobile-offize-accent">
						<mdc-icon class="mdc-color-text--white tdw-font-18">arrow_forward</mdc-icon>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>