<div>
    <div class="tdw-padding-36"></div>
    <h4 class="tdw-font-20 tdw-text-align-center tdw-shadow-text-thin">Pepstudy App: Platform for Everything</h4>
    <div class="tdw-padding-36"></div>

    <pepstudy-top-new-view></pepstudy-top-new-view>

    <section class="guideline mdc-color--grey-50">
        <div ngClass.lt-md="tdw-padding-36" ngClass.gt-sm="tdw-padding-56"></div>
        <div class="tdw-layout-container-large">
            <div class="" fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-around center">
                <!-- <span class="mdc-color-text--grey-600">COLOR</span> -->
                <div class="sec-title tdw-layout-content">
                    <div class="title " fxLayout="row" fxLayoutAlign="space-around center">
                        <div class="color-box tdw-font-light">
                            <div class="square-1  app-color--pepstudy"></div>
                            <p class="tdw-font-14 tdw-padding-v-16 mdc-color-text--grey-800">#4CAF50</p>
                        </div>
                        <div class="color-box tdw-font-light">
                            <p class="square-2  pepstudy-color--primary"></p>
                            <p class="tdw-font-14 tdw-padding-v-16 mdc-color-text--grey-800">#F96B17</p>
                        </div>
                    </div>
                </div>

                <div fxFlex></div>
                <div class="">
                    <!-- <span class="mdc-color-text--grey-600">FONT</span> -->
                    <div class="sec-title">

                        <div class="title-background ">
                            <h1 class="tdw-font-avenir  tdw-font-106 tdw-font-Roboto mdc-color-text--grey-200 tdw-font-bold">Avenir</h1>
                        </div>

                        <div class="title tdw-layout-content tdw-padding-v-56" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="tdw-font-bold">
                                <p class="tdw-font-avenir tdw-font-12  mdc-color-text--grey-800">Avenir bold</p>
                                <p class="tdw-font-avenir tdw-font-20 mdc-color-text--grey-800">AaBbCc</p>
                            </div>
                            <div class="tdw-font-lighter">
                                <p class="tdw-font-avenir tdw-font-12  mdc-color-text--grey-800">Avenir medium</p>
                                <p class="tdw-font-avenir tdw-font-20 mdc-color-text--grey-800">AaBbCc</p>
                            </div>
                            <div class="tdw-font-light">
                                <p class="tdw-font-avenir tdw-font-12  mdc-color-text--grey-800">Avenir light</p>
                                <p class="tdw-font-avenir tdw-font-20 mdc-color-text--grey-800">AaBbCc</p>
                            </div>

                        </div>
                        <div class="tdw-padding-8"></div>

                    </div>
                </div>
            </div>
        </div>
        <div ngClass.lt-md="tdw-padding-36" ngClass.gt-sm="tdw-padding-56"></div>
    </section>
    <section class="mdc-color--white">
        <div class="tdw-padding-28"></div>

        <div class="tdw-layout-container-large tdw-font-avenir">
            <div class="" fxLayout="column" fxLayoutAlign="center center">
                <div class=" tdw-text-align-center">
                    <span class="tdw-font-26 tdw-font-normal tdw-shadow-text-thin mdc-color-text--grey-700">Features</span>
                </div>

                <div class="tdw-padding-10"></div>

                <div class="features-content tdw-layout-content " fxLayout="row wrap" fxLayoutAlign="center none" fxLayoutAlign.lt-md="center stretch">
                    <div ngClass.lt-md="tdw-padding-20" ngClass.gt-sm="tdw-padding-36">
                        <div class="content-card tdw-padding-16 tdw-display-table" fxLayout="column" fxLayoutAlign="center center">
                            <div class="circle tdw-card-thin">
                                <mdc-icon class="tdw-font-16 tdw-margin-auto app-color-text--pepstudy">games</mdc-icon>
                            </div>
                            <div class="tdw-padding-4"></div>
                            <p class="tdw-font-12 tdw-padding-v-4 tdw-font-bold  mdc-color-text--grey-800">Assessment</p>
                            <p class="tdw-font-12 tdw-padding-v-4 tdw-text-align-center mdc-color-text--grey-600">Get the Country level class assessment </p>
                        </div>
                    </div>
                    <div ngClass.lt-md="tdw-padding-20" ngClass.gt-sm="tdw-padding-36">
                        <div class="content-card tdw-padding-16 tdw-display-table" fxLayout="column" fxLayoutAlign="center center">
                            <div class="circle tdw-card-thin">
                                <mdc-icon class="tdw-font-16 tdw-margin-auto app-color-text--pepstudy">games</mdc-icon>
                            </div>
                            <div class="tdw-padding-4"></div>
                            <p class="tdw-font-12 tdw-padding-v-4 tdw-font-bold  mdc-color-text--grey-800">Discussion</p>
                            <p class="tdw-font-12 tdw-padding-v-4 tdw-text-align-center mdc-color-text--grey-600">Connect with the mentors & other studies(??) for doubts</p>
                        </div>
                    </div>
                    <div ngClass.lt-md="tdw-padding-20" ngClass.gt-sm="tdw-padding-36">
                        <div class="content-card tdw-padding-16 tdw-display-table" fxLayout="column" fxLayoutAlign="center center">
                            <div class="circle tdw-card-thin">
                                <mdc-icon class="tdw-font-16 tdw-margin-auto app-color-text--pepstudy">games</mdc-icon>
                            </div>
                            <div class="tdw-padding-4"></div>
                            <p class="tdw-font-12 tdw-padding-v-4 tdw-font-bold  mdc-color-text--grey-800">Analyse</p>
                            <p class="tdw-font-12 tdw-padding-v-4 tdw-text-align-center mdc-color-text--grey-600">Analyse the Academy performance</p>
                        </div>
                    </div>
                    <div ngClass.lt-md="tdw-padding-20" ngClass.gt-sm="tdw-padding-36">
                        <div class="content-card tdw-padding-16 tdw-display-table" fxLayout="column" fxLayoutAlign="center center">
                            <div class="circle tdw-card-thin">
                                <mdc-icon class="tdw-font-16  tdw-margin-auto app-color-text--pepstudy">games</mdc-icon>
                            </div>
                            <div class="tdw-padding-4"></div>
                            <p class="tdw-font-12 tdw-padding-v-4 tdw-font-bold  mdc-color-text--grey-800">Study Material</p>
                            <p class="tdw-font-12 tdw-padding-v-4 tdw-text-align-center mdc-color-text--grey-600">Syllabus-wise study material for different boards.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </section>

    <div class="tdw-padding-56"></div>

    <section class="dashboard tdw-layout-container-large">
        <div class="" fxLayoutAlign="space-between center" fxLayout="row" fxLayout.lt-md="column">
            <div class="" [ngStyle.lt-md]="{'order': 3}">
                <div class="dashboard-image tdw-card-lighter-shadow">
                    <img src="/assets/img/pic-pepstudy-dashboard.png">
                </div>
            </div>

            <div class="tdw-padding-36" [ngStyle.lt-md]="{'order': 2}"></div>

            <div class="" ngClass.lt-md="tdw-padding-20" ngClass.gt-sm="tdw-padding-36" [ngStyle.lt-md]="{'order': 1}">
                <span class="tdw-font-20 tdw-font-bold tdw-shadow-text-thin mdc-text-color--grey-800">Student Dashboard</span>
                <div class="tdw-padding-20"></div>
                <span class="mdc-color-text--grey-500">Students can now track his overall performance. Also can track different course progress, events.
                </span>
            </div>
        </div>
    </section>

    <div class="tdw-padding-56"></div>

    <section class="responsive tdw-layout-container-large">
        <div fxLayoutAlign="space-between center" fxLayout="row" fxLayout.lt-md="column">
            <div class="responsive-content">
                <span class="tdw-font-20 tdw-font-bold tdw-shadow-text-thin mdc-text-color--grey-800">Responsive Screen</span>
                <div class="tdw-padding-20"></div>
                <span class="mdc-color-text--grey-500">Section for tracking task and exam schedule. Teachers and parents can also track task progress of the student.
                </span>
            </div>
            <div class="tdw-padding-36"></div>
            <div class="pepstudy-mobile-view">

                <div class="background white tdw-card-up">

                </div>
                <div class="background primary-card">

                </div>

                <div class="tdw-position-relative tdw-text-align-center">
                    <img src="assets/img/pepstudy_mobile.png">
                </div>

            </div>
        </div>

    </section>

    <div class="tdw-padding-v-56"></div>

    <section class="pepstudy-discussion tdw-position-relative tdw-padding-v-56  mdc-color-text--white">
        <div class="background " ngClass.lt-md="app-color--pepstudy" ngClass.gt-sm="app-color--pepstudy"></div>
        <div class="tdw-layout-container-large tdw-position-relative">
            <div class="" fxLayoutAlign.xs="space-between center" fxLayoutAlign.sm="space-between center" fxLayout="row" fxLayout.lt-md="column">
                <div class="content tdw-layout-content" ngClass.lt-md="app-color--pepstudy">
                    <span class="tdw-font-20 tdw-font-bold mdc-text-color--grey-800">Discussion</span>
                    <div class="tdw-padding-24"></div>
                    <span class="mdc-color-text--white">Platform where student can ask questions in any topics. Also can search for any past query.
                    </span>
                    <div class="tdw-padding-36"></div>
                </div>
                <div fxFlex></div>

                <div class="">
                    <div ngClass.gt-sm="tdw-padding-56"></div>
                    <div class="discussion-image tdw-position-relative ">
                        <img src="/assets/img/pic-pepstudy-discussion.png">
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>