<div class="tdw-layout-container-large">
    <div class="tdw-layout-content ">
        <div class="services-container mdc-color--white ">
            <div class="tdw-padding-v-56">
                <div class="sec-title tdw-text-align-right">
                    <div class="title">
                        <h6 class="tdw-font-22 tdw-font-medium">Services</h6>
                    </div>
                    <div class="title-background ">
                        <h1 class="tdw-text-align-right tdw-font-56 tdw-font-Roboto mdc-color-text--grey-100 tdw-font-bold">Services</h1>
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">

                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center stretch">
                    <div class="service-card-container tdw-padding-24">
                        <div class="service-card tdw-card-up tdw-padding-56">
                            <div class="service-icon mdc-color--green-600">
                                <mdc-icon class="tdw-font-24 mdc-color-text--white tdw-font-normal">android</mdc-icon>
                            </div>
                            <span class="tdw-font-20 mdc-color-text--green-600">Android Development</span>
                            <p class="tdw-font-16 tdw-padding-top-16 mdc-color-text--grey-600">We deliver highly detailed and efficient android apps optimized from Chat based to mCommerce
                                app.</p>
                        </div>
                    </div>
                    <div fxHide.lt-md="TRUE" fxFlex.gt-sm></div>
                    <!-- <div fxFlex></div> -->
                    <div class="service-card-container tdw-padding-24">
                        <div class="service-card tdw-card-up tdw-padding-56">
                            <div class="service-icon mdc-color--blue-400">
                                <mdc-icon class="tdw-font-24 mdc-color-text--white">desktop_windows</mdc-icon>
                            </div>
                            <span class="tdw-font-20 mdc-color-text--blue-600">Web Development</span>
                            <p class="tdw-font-16 tdw-padding-top-16 mdc-color-text--grey-600">We bring your website to life by making it more interactive, enriched with enchanting experiences
                                on desktop, tablet and mobile.</p>
                        </div>
                    </div>
                </div>


                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center stretch">
                    <div class="service-card-container tdw-padding-24">
                        <div class="service-card tdw-card-up tdw-padding-56">
                            <div class="service-icon app-color--purple">
                                <mdc-icon class="tdw-font-24 mdc-color-text--white ">http</mdc-icon>
                            </div>
                            <span class="tdw-font-20 mdc-color-text--green-600">Back-end</span>
                            <p class="tdw-font-16 tdw-padding-top-16 mdc-color-text--grey-600">We create scalable web services that serve the gateway between connected devices and the data.</p>
                        </div>
                    </div>
                    <div fxHide.lt-md="TRUE" fxFlex.gt-sm></div>
                    <!-- <div fxFlex></div> -->
                    <div class="service-card-container tdw-padding-24">

                        <div class="service-card tdw-card-up tdw-padding-56">
                            <!-- <div class="service-icon">
                                <mdc-icon class="tdw-font-24 mdc-color-text--white mdc-color--brown-600">code</mdc-icon>
                            </div> -->
                            <div class="service-icon tdw-height-40 app-color--red">
                                <img class="tdw-avatar-24" src="assets/img/compass.svg" />
                            </div>
                            <span class="tdw-font-20 mdc-color-text--blue-600">Ui</span>
                            <span class="tdw-font-20 mdc-color-text--red-600">/Ux</span>
                            <p class="tdw-font-16 tdw-padding-top-16 mdc-color-text--grey-600">Through attractive clickable prototypes, information architecture and appealing design we assure
                                that your customers always want to come back.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>