<div class="mdc-color--white">
    <offize-top-view></offize-top-view>
    <div class="tdw-padding-36"></div>
    <!-- 
    <section class="keys-container tdw-position-relative tdw-layout-container-large">
        <div class="tdw-layout-content" fxLayout="row" fxLayoutAlign="space-between end">
            <div class="tdw-padding-56">
                <div class="keys-inner-container tdw-position-absolute" fxLayout="column">
                    <div fxLayout="row">
                        <div class="circle">
                            <mdc-icon class="tdw-font-28 app-color-text--mobile-offize-accent">forum</mdc-icon>
                        </div>
                        <div fxFlex></div>
                    </div>
                    <div fxFlex></div>
                    <div fxLayout="row" fxFlex>
                        <div class="circle">
                            <mdc-icon class="tdw-font-28 app-color-text--mobile-offize-accent">add</mdc-icon>
                        </div>
                        <div fxFlex></div>
                        <div class="circle">
                            <mdc-icon class="tdw-font-28 app-color-text--mobile-offize-accent">create</mdc-icon>
                        </div>
                    </div>

                </div>
                <div class="circle">
                    <div class="project-logo app-color--mobile-offize tdw-card-thin tdw-padding-10">
                        <img src="assets/img/xpedi.svg">
                    </div>
                </div>

            </div>

            <div class="">
                <div class="sec-title tdw-text-align-right">
                    <div class="title">
                        <h6 class="tdw-shadow-text-thin tdw-font-28">Keys</h6>
                    </div>
                    <div class="title-background ">
                        <h1 class="tdw-text-align-right tdw-font-56 tdw-font-Roboto mdc-color-text--white tdw-font-bold">KEYS</h1>
                    </div>
                </div>
                <div class="tdw-padding-16"></div>
                <span class="tdw-font-normal tdw-font-16 mdc-color-text--grey-600">
                    MobileOffize app: virtual office space. Assign Create Build
                </span>
                <div class="">
                    <div class=" tdw-padding-v-24" fxLayout="row" fxLayoutAlign="space-between start">
                        <div class="box" fxLayout="column">
                            <p class="tdw-layout-align-center">
                                <mdc-icon class="tdw-padding-right-16 tdw-font-28 mdc-color-text--grey-500">forum</mdc-icon>Chat</p>
                            <span class="tdw-padding-v-10 tdw-font-16 mdc-color-text--grey-600">
                                MobileOffize chat: virtual office
                            </span>
                        </div>
                        <div class="box tdw-text-align-left" fxLayout="column">
                            <p class="tdw-layout-align-center">
                                <mdc-icon class="tdw-padding-right-16 tdw-font-28 mdc-color-text--grey-500">create</mdc-icon>Task</p>
                            <span class="tdw-padding-v-10 tdw-font-16 mdc-color-text--grey-600">
                                MobileOffize Task: virtual office
                            </span>
                        </div>
                    </div>
                    <div class="tdw-padding-24"></div>
                    <div class="box tdw-text-align-left" fxLayout="column">
                        <p class=" tdw-layout-align-center">
                            <mdc-icon class="tdw-padding-right-16 tdw-font-28 mdc-color-text--grey-500">add</mdc-icon>Report</p>
                        <span class="tdw-padding-v-10 tdw-font-16 mdc-color-text--grey-600">
                            MobileOffize Report: virtual office
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


    <section>
        <div class="tdw-padding-36"></div>
        <keys-view></keys-view>
        <div class="tdw-padding-36"></div>
    </section>


    <section class="xpedi-desc tdw-layout-container-large tdw-box-size-border-box tdw-layout-content">
        <div class="" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center">
            <div class="xpedi-content tdw-padding-v-36">
                <div class="tdw-position-relative tdw-text-align-left">
                    <div class="title-background tdw-position-absolute">
                        <h1 class="tdw-text-align-left tdw-font-64 tdw-font-Roboto mdc-color-text--white tdw-font-bold">TASK</h1>
                    </div>
                    <div class="title tdw-position-relative tdw-left-zero">
                        <i class="tdw-font-24 socialicon icon-check app-color-text--mobile-offize-accent"></i>
                        <h6 class="tdw-font-28 tdw-font-medium">Task</h6>
                        <div class="tdw-padding-4"></div>
                        <div class="hr-line">
                            <div class="line-red">
                                <svg version="1.1" id="line" x="0px" y="0px" width="120px" height="5px" xml:space="preserve">
                                    <path class="path2" fill="#2cc87c" stroke-width="3" stroke="#2cc87c" d="M0 0 l1120 0" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tdw-padding-24"></div>
                <span class="mdc-color-text--grey-700">Task section allows users to easily create task for self and for other users. User can review review the
                    task update activity and status.</span>
            </div>
            <div class="mockup">
                <img src="/assets/img/mobile-offize_task.png">
            </div>
        </div>
    </section>

    <!-- <div class="tdw-padding-20"></div> -->


    <section class="task-swipe tdw-layout-container-large">
        <task-swipe-view></task-swipe-view>
    </section>

    <div class="tdw-padding-20"></div>
    <section class="task-create tdw-layout-container-large">
        <task-create-view></task-create-view>
    </section>

    <div class="tdw-padding-28"></div>

    <!-- chat -->
    <section class="xpedi-desc tdw-layout-container-large tdw-box-size-border-box tdw-layout-content">
        <div class="" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center">
            <div fxFlexOrder.xs="1" class="mockup">
                <img src="/assets/img/mobile-offize_chat.png">
            </div>
            <div class="xpedi-content tdw-padding-v-36">
                <div class="tdw-position-relative tdw-text-align-left">
                    <div class="title-background tdw-position-absolute">
                        <h1 class="tdw-text-align-left tdw-font-64 tdw-font-Roboto mdc-color-text--white tdw-font-bold">CHAT</h1>
                    </div>
                    <div class="title tdw-position-relative tdw-left-zero">
                        <i class="tdw-font-24 socialicon icon-check app-color-text--mobile-offize-accent"></i>
                        <h6 class="tdw-font-28 tdw-font-medium">Chat</h6>
                        <div class="tdw-padding-4"></div>
                        <div class="hr-line">
                            <div class="line-red">
                                <svg version="1.1" id="line" x="0px" y="0px" width="120px" height="5px" xml:space="preserve">
                                    <path class="path2" fill="#2cc87c" stroke-width="3" stroke="#2cc87c" d="M0 0 l1120 0" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tdw-padding-24"></div>
                <span class="tdw-font-open-sans mdc-color-text--grey-700">This chat interface completely build above firebase Realtime Database. It supports one-to-one chat and in
                    team group chat.
                </span>
            </div>
        </div>
    </section>

    <div class="tdw-padding-4"></div>

    <section class="xpedi-chat tdw-layout-container-large">
        <chat-elements-view></chat-elements-view>
    </section>

    <div class="tdw-padding-28"></div>

    <section class="xpedi-desc tdw-layout-container-large tdw-box-size-border-box tdw-layout-content">
        <div class="" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center">

            <div class="xpedi-content tdw-padding-v-56">
                <div class="tdw-position-relative tdw-text-align-left">
                    <div class="title-background tdw-position-absolute">
                        <h1 class="tdw-text-align-left tdw-font-64 tdw-font-Roboto mdc-color-text--white tdw-font-bold">REPORT</h1>
                    </div>
                    <div class="title tdw-position-relative tdw-left-zero">
                        <div class="tdw-square-24">
                            <img class="tdw-avatar" src="/assets/img/if_line_chart_blue.svg" />
                        </div>
                        <!-- <i class="tdw-font-24 socialicon icon-check app-color-text--mobile-offize-accent"></i> -->
                        <h6 class="tdw-font-28 tdw-font-medium">Report</h6>
                        <div class="tdw-padding-4"></div>
                        <div class="hr-line">
                            <div class="line-red">
                                <svg version="1.1" id="line" x="0px" y="0px" width="120px" height="5px" xml:space="preserve">
                                    <path class="path2" fill="#2cc87c" stroke-width="3" stroke="#2cc87c" d="M0 0 l1120 0" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tdw-padding-24"></div>
                <span class="tdw-font-open-sans mdc-color-text--grey-700">This section allow users to manage activities like daily reporting, expense, opinion polls, marketing and
                    sales related report, etc.</span>
            </div>
            <div fxFlex></div>

            <div class="mockup">
                <img src="/assets/img/mobile-offize_report.png">
            </div>
        </div>

    </section>

    <!-- <div class="tdw-padding-28"></div> -->


    <section class="xpedi-animation tdw-layout-container-large">
        <!-- <welcome-animation-view></welcome-animation-view> -->
    </section>


    <!-- <div class="tdw-padding-56"></div> -->


    <section class="xpedi-billing tdw-layout-container-large">
        <billing-elements-view></billing-elements-view>
    </section>



    <div class="tdw-padding-20"></div>

    <div class="app-animations tdw-layout-container-large">
        <div class="tdw-padding-36"></div>
        <div class="tdw-layout-content">
            <h6 class="tdw-text-align-left tdw-font-28 tdw-font-medium">App Animations</h6>
        </div>
        <section class="video-dialog">
            <welcome-animation></welcome-animation>
        </section>

        <div class="tdw-padding-20"></div>

        <section class="video-dialog">
            <contact-select-animation></contact-select-animation>
        </section>

        <div class="tdw-padding-20"></div>

        <section class="video-dialog">
            <task-swipe-animation></task-swipe-animation>
        </section>

        <div class="tdw-padding-20"></div>
    </div>
</div>