<!-- <div class="tdw-layout-container-large">
    <div class="tdw-layout-content">
        <widget-project-desc-card ></widget-project-desc-card>
    </div>
</div> -->

<!-- <div class="tdw-layout-container-large-extra"> -->


<listing-web-view link="projects/pepstudy" iconPath="/assets/img/pepstudy-logo.png" [rtl]="true" projectTitle="Pepstudy"
    circle2Class="app-background-pepstudy" circle1Class="mdc-color--white" btnBackgroundColor="app-button-pepstudy" imagePath="/assets/img/pepstudy.png"
    detail="Web Platform to enhance the learning experience and empower students, teachers, and school management with academic data analysis at national level."></listing-web-view>

<listing-mobile-rtl-view link="projects/mobile-offize" iconPath="/assets/img/xpedi-logo.png" projectTitle="Mobile Offize App"
    circle2Class="mdc-color--grey-200" circle1Class="app-background-mobile-offize" btnBackgroundColor="app-button-mobile-offize"
    imagePath="/assets/img/Screenshot_2018-03-15-11-36-48-722.jpeg"
    appUrl="https://play.google.com/store/apps/details?id=com.xpedi.mobileoffize"
    detail="Platform where a group or team can create their own office account and integrate all their work-related activities.
    It also enables the user to experience the combined benefits of chat, managing tasks and daily reporting."></listing-mobile-rtl-view>

<listing-mobile-view link="projects/sensify" iconPath="/assets/img/sensify-icon.png" projectTitle="Sensify App" circle2Class="mdc-color--grey-200"
    circle1Class="app-background-sensify" btnBackgroundColor="app-button-sensify" imagePath="/assets/img/sensify_app_mockup.png"
    appUrl="https://play.google.com/store/apps/details?id=io.sensify.sensor"
    detail="Sensify App enables you to see analytics of all the sensors available in your device like accelerometer, magnetic field sensor, light sensor etc."></listing-mobile-view>

<listing-mobile-rtl-view  iconPath="/assets/img/ic_fancy_monk.png" projectTitle="Fancymonk App"
    circle2Class="mdc-color--grey-100" circle1Class="mdc-color--grey-700" btnBackgroundColor="app-button-fancymonk" imagePath="/assets/img/flow1@2x.png"
    detail="FancyMonk is a platform to help customers avoid queues for tables in restaurants, lunches and events. 
    Fancymonk provide a pre-booking and waiter-less ordering (from Integrated digital menus on app) and table reservation."></listing-mobile-rtl-view>

<listing-web-view  iconPath="/assets/img/intugine_logo-final-01.png" [rtl]="true" projectTitle="Intugine Track"
    circle2Class="app-background-intugine" circle1Class="mdc-color--white" btnBackgroundColor="app-button-intugine" imagePath="/assets/img/intuigne_track.png"
    detail="A responsive, multi-platform admin dashboard to manage GPS-tracking devices integrated with TCP server in the real time."></listing-web-view>
<div class="tdw-padding-v-20"></div>

<!-- <section class="sensify-project-desc mdc-color--grey-100 tdw-padding-v-56" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
        <widget-project-desc-card projectTitleField="Sensify App"></widget-project-desc-card>
        <div class="background mdc-theme--primary-bg">
        </div>
    </section>

    <section class="fancy-monk-project-desc mdc-color--grey-100 tdw-padding-v-56" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">

        <div class="background mdc-theme--background">
        </div>
        <widget-project-desc-card projectTitleField="FancyMonk Waiterless App"></widget-project-desc-card>
    </section>

    <section class="intugine-project-desc mdc-color--grey-100 tdw-padding-v-56" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
        <widget-project-desc-card projectTitleField="Intugine Track Web App"></widget-project-desc-card>
        <div class="background">
        </div>
    </section> -->
<!-- </div> -->