<section class="top-wall tdw-position-relative" fxLayout="row">
  <div class="background tdw-position-absolute">


  </div>
  <div class="tdw-layout-container-large tdw-position-relative">


    <!-- <div class="sec-title">

      <div class="title-background">
        <h1 class="tdw-font-Roboto mdc-color-text--grey-200 tdw-font-bold">TEAM</h1>
      </div>

      <div class="title">
        <h6 class="tdw-font-20 tdw-font-normal mdc-color-text--grey-800">Team</h6>
      </div>
      <div class="tdw-padding-8"></div>

    </div>

    <div class="tdw-padding-36"></div>
 -->

    <!--Team -->



    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center none">
      <div class="tdw-text-align-center" ngClass.gt-xs="tdw-padding-8-16">
        <div class="team-card" ngClass.xs="tdw-padding-4" ngClass.gt-xs="tdw-padding-4" fxLayout="column">
          <div class="team-avatar-container tdw-text-align-center tdw-position-relative">
            <img class="team-avatar" src="assets/img/sakshi.jpg" />
          </div>
          <div fxFlex class="detail tdw-padding-left-16 tdw-padding-12">
            <h4 class="mdc-color-text--grey-700 tdw-font-20 tdw-font-normal">Sakshi Dhiman</h4>
            <p class="mdc-color-text--grey-500 tdw-font-16">Gives meaning to Sentences.</p>
            <div class="tdw-padding-4"></div>
            <div class="tdw-margin-auto" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
              <a class="tdw-square-36 team-social" href="https://www.linkedin.com/in/sakshidhiman/" target="_blank">
                <img class="tdw-avatar-36" src="assets/img/linkedin.svg" />
              </a>
              <a class="tdw-square-36 team-social" href="https://medium.com/@Sakshi.Dhiman" target="_blank">
                <img class="tdw-avatar-36" src="assets/img/medium.png" />
              </a>
            </div>

          </div>


        </div>

      </div>
      <div class="tdw-text-align-center" ngClass.gt-xs="tdw-padding-8-16">
        <div class="team-card" ngClass.xs="tdw-padding-4" ngClass.gt-xs="tdw-padding-4" fxLayout="column">
          <div class="team-avatar-container tdw-text-align-center tdw-position-relative">

            <img class="team-avatar" src="assets/img/anil.jpg" />

          </div>
          <div fxFlex class="detail tdw-padding-left-16 tdw-padding-12">
            <h4 class="mdc-color-text--grey-700 tdw-font-20 tdw-font-normal">Anil Sagar</h4>
            <p class="mdc-color-text--grey-500 tdw-font-16">Bulls eye in Counter Strike and Code</p>

          </div>
        </div>

      </div>
      <div class="tdw-text-align-center" ngClass.gt-xs="tdw-padding-8-16">
        <div class="team-card" ngClass.xs="tdw-padding-4" ngClass.gt-xs="tdw-padding-4" fxLayout="column">
          <div class="team-avatar-container tdw-text-align-center tdw-position-relative">

            <img class="team-avatar" src="assets/img/mayank.jpg" />

          </div>
          <div fxFlex class="detail tdw-padding-left-16 tdw-padding-12">
            <h4 class="mdc-color-text--grey-700 tdw-font-20 tdw-font-normal">Mayank Kaushal</h4>
            <p class="mdc-color-text--grey-500 tdw-font-16">Gives life to design with animations</p>
          </div>
        </div>

      </div>

      <div class="tdw-text-align-center" ngClass.gt-xs="tdw-padding-8-16">
        <div class="team-card" ngClass.xs="tdw-padding-4" ngClass.gt-xs="tdw-padding-4" fxLayout="column">
          <div class="team-avatar-container tdw-text-align-center tdw-position-relative">

            <img class="team-avatar" src="assets/img/ajay.jpg" />

          </div>
          <div fxFlex class="detail tdw-padding-left-16 tdw-padding-12">
            <h4 class="mdc-color-text--grey-700 tdw-font-20 tdw-font-normal">Ajay</h4>
            <div class="tdw-padding-4"></div>
            <a class="tdw-square-36 team-social tdw-margin-auto" href="https://www.linkedin.com/in/ajaykumarsagar/" target="_blank">
              <img class="tdw-avatar-36" src="assets/img/linkedin.svg" />
            </a>
            <!-- <p class="mdc-color-text--grey-500 tdw-font-16">Love to design creative things</p> -->
          </div>
        </div>

      </div>

      <div class="tdw-text-align-center" ngClass.gt-xs="tdw-padding-8-16">
        <div class="team-card" ngClass.xs="tdw-padding-4" ngClass.gt-xs="tdw-padding-4" fxLayout="column">
          <div class="team-avatar-container tdw-text-align-center tdw-position-relative">

            <img class="team-avatar" src="assets/img/l.jpg" />

          </div>
          <div fxFlex class="detail tdw-padding-left-16 tdw-padding-12">
            <h4 class="mdc-color-text--grey-700 tdw-font-20 tdw-font-normal">Niraj</h4>
            <div class="tdw-padding-4"></div>
            <div class="tdw-margin-auto" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
              <a class="tdw-square-36 team-social" href="https://www.linkedin.com/in/niraj-prakash-3317674b/" target="_blank">
                <img class="tdw-avatar-36" src="assets/img/linkedin.svg" />
              </a>
              <a class="tdw-square-36 team-social" href="https://www.instagram.com/niraj_prakash/" target="_blank">
                <img class="tdw-avatar-36" src="assets/img/instagram.svg" />
              </a>
            </div>
            <!-- <p class="mdc-color-text--grey-500 tdw-font-16">Love to design creative things</p> -->
          </div>
        </div>

      </div>

    </div>



    <!-- <div fxLayout="row wrap" fxLayout.xs="column">
        <div ngClass.gt-xs="tdw-padding-8-16">
          <div class="tdw-padding-16 team-card tdw-card-up tdw-border-4" fxLayout="row">
            <div class="team-avatar-container tdw-position-relative">
              <div class="tdw-position-absolute tdw-card-up">
                <img class="team-avatar" src="assets/img/j.jpeg" />
              </div>
            </div>
            <div fxFlex class="tdw-padding-left-16">
              <h4 class="mdc-color-text--grey-700 tdw-font-20 tdw-font-normal">Mayank Kaushal</h4>
              <p class="mdc-color-text--grey-500 tdw-font-16">Love to Design Creative Things</p>
            </div>
          </div>
  
        </div>
        <div ngClass.gt-xs="tdw-padding-8-16">
          <div class="tdw-padding-16 team-card tdw-card-up tdw-border-4" fxLayout="row">
            <div class="team-avatar-container tdw-position-relative">
              <div class="tdw-position-absolute tdw-card-up">
                <img class="team-avatar" src="assets/img/j.jpeg" />
              </div>
            </div>
            <div fxFlex class="tdw-padding-left-16">
              <h4 class="mdc-color-text--grey-700 tdw-font-20 tdw-font-normal">Ajay</h4>
              <p class="mdc-color-text--grey-500 tdw-font-16"></p>
            </div>
          </div>
  
        </div>
        <div ngClass.gt-xs="tdw-padding-8-16">
          <div class="tdw-padding-16 team-card tdw-card-up tdw-border-4" fxLayout="row">
            <div class="team-avatar-container tdw-position-relative">
              <div class="tdw-position-absolute tdw-card-up">
                <img class="team-avatar" src="assets/img/j.jpeg" />
              </div>
            </div>
            <div fxFlex class="tdw-padding-left-16">
                <h4 class="mdc-color-text--grey-700 tdw-font-20 tdw-font-normal">Niraj</h4>
                <p class="mdc-color-text--grey-500 tdw-font-16"></p>
              </div>
          </div>
  
        </div>
      </div> -->



    <div class="tdw-padding-36"></div>
  </div>

</section>