<div class="top-home tdw-overflow-hidden tdw-position-relative">
    <div class="background tdw-height-full tdw-width-full tdw-position-absolute">
        <!-- <div class="wave1 tdw-position-absolute">
            <div class="wave"></div>
            <div class="mask"></div>
            
        </div>
        <div class="wave2 tdw-position-absolute">
            <div class="wave"></div>
            <div class="mask"></div>
            
        </div> -->
        <div class="right-circle tdw-position-absolute app-color--pepstudy"></div>
        <div class="right-circle1 tdw-position-absolute  app-background-pepstudy"></div>
        <div class="right-circle2 tdw-position-absolute mdc-color--white"></div>
        <div class="left-circle tdw-position-absolute app-background-pepstudy"></div>
        <div class="left-circle1 tdw-position-absolute app-color--pepstudy"></div>
        <div class="left-circle2 tdw-position-absolute mdc-color--white"></div>
    </div>
    <div class="tdw-position-relative tdw-layout-container-large">
    <div  fxLayout="column" fxLayoutAlign="start center">
        <div class="tdw-padding-4"></div>
        <div class="top-image">
            <img src="/assets/img/pic-pepstudy-design-top.png">
        </div>
        <div class="tdw-padding-28"></div>

    </div>
</div>

</div>