<div class="tdw-padding-12">
    <a class="unlink" target="_blank" href="{{_mTech.link}}">
        <div class="tech-item tdw-cursor-pointer tdw-hover-card-up tdw-padding-24 mdc-color--white">
            <div class="tdw-avatar-24">
                <img src="{{_mTech.logo}}" />
            </div>
            <div class="tdw-padding-8"></div>
            <h6 class="tdw-font-16 mdc-color-text--grey-800 tdw-font-medium">{{_mTech.name}}</h6>
            <p class="tdw-padding-v-8 tdw-font-14 mdc-color-text--grey-500">{{_mTech.detail}}</p>

        </div>
    </a>
</div>