<div class="footer tdw-layout-container-large">
	<div class="tdw-padding-24" fxLayout="row" fxLayoutAlign="center center">
		<!-- <span class="tdw-font-20 tdw-font-bold mdc-color-text--grey-100">TD</span> -->
		<div class="droid-icon">
			<img src="/assets/img/droid_logo_white.svg" />
		</div>

		<div class="tdw-padding-h-16"></div>
		<div fxFlex></div>
		<!-- <a routerLink="/about" class="tdw-font-16 mdc-color-text--white tdw-cursor-pointer">About us</a> -->
		<div class="tdw-padding-h-12"></div>

		<div class="tdw-padding-h-24"></div>
		<!-- <a href="https://www.linkedin.com/in/niraj-prakash-3317674b/" target="_blank">
			<i class="tdw-font-20 socialicon icon-gplus mdc-color-text--white"></i>
		</a> -->
		<div class="tdw-padding-h-8"></div>
		<a href="https://www.linkedin.com/in/niraj-prakash-3317674b/" target="_blank">
			<i class="tdw-font-20 socialicon icon-linkedin mdc-color-text--white"></i>
		</a>
		<div class="tdw-padding-h-8"></div>
		<a href="https://www.behance.net/nirajpraka6038/" target="_blank">
			<i class="tdw-font-20 socialicon icon-behance mdc-color-text--white"></i>
		</a>

	</div>
</div>